scratch/n8n-agent-start.json
{
  "name": "AGENT_START (LLM + tools)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-start",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: agent-start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2000, 360],
      "webhookId": "agent-start"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/consultar_pedidos_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\"\n}",
        "options": {}
      },
      "id": "ctx-pedidos",
      "name": "CTX últimos pedidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1780, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/contatos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Webhook: agent-start').item.json.body.contato_id }}" },
            { "name": "select", "value": "id,nome,telefone,canal_origem,canal_atual,ja_comprou,cidade,uf,instancia_id,representante_id" },
            { "name": "limit", "value": "1" }
          ]
        },
        "options": {}
      },
      "id": "ctx-contato",
      "name": "CTX contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1780, 500]
    },
    {
      "parameters": {
        "jsCode": "// Monta system prompt + user message a partir do contexto.\nconst body = $('Webhook: agent-start').item.json.body || {};\nconst contato = ($('CTX contato').first().json[0]) || {};\nconst pedidos = $('CTX últimos pedidos').first().json || [];\n\nconst nomeCurto = (contato.nome || '').split(' ')[0] || 'amigo(a)';\nconst jaComprou = !!contato.ja_comprou;\nconst cidade   = [contato.cidade, contato.uf].filter(Boolean).join('/');\n\nconst pedidosResumo = (Array.isArray(pedidos) ? pedidos : [])\n  .slice(0, 3)\n  .map(p => `- #${p.order_number} (${p.data}) ${p.produto} x${p.quantidade} R$${p.valor} [${p.status_pedido}]`)\n  .join('\\n') || '(nenhum pedido anterior)';\n\nconst systemPrompt = `Você é o atendente WhatsApp da Santa Flor — loja de produtos naturais à base de canabinoides.\n\n=== CLIENTE ATUAL ===\n• Nome: ${contato.nome || 'desconhecido'}\n• Primeiro contato? ${jaComprou ? 'NÃO (é cliente)' : 'SIM (lead)'}\n• Cidade: ${cidade || 'não informada'}\n• contato_id: ${body.contato_id}\n\n=== HISTÓRICO DE PEDIDOS ===\n${pedidosResumo}\n\n=== ESTILO ===\n- Calorosa, breve, humana — como atendente real\n- Trate por primeiro nome (\"${nomeCurto}\")\n- 1-2 frases curtas por mensagem\n- Sem emoji decorativo gratuito (NUNCA usar 🌸 🌺). Emojis funcionais (🟩🟨🟥🔰🧴🍬📦💳⏱) só quando o conteúdo pede\n- Português coloquial brasileiro\n- SEMPRE referir produtos pelo NOME OFICIAL (\"CBD Full Spectrum 4.000 mg\"), nunca por tag/apelido interno (\"verde\", \"4k\")\n\n=== REGRAS DE TOOLS ===\n1. SEMPRE chame buscar_conhecimento antes de responder sobre produto, preço, bônus, FAQ, indicação por patologia\n2. Para perguntas sobre frete/prazo, USE consultar_cep (pede o CEP se não tiver)\n3. Para \"onde tá meu pedido?\", USE consultar_rastreio\n4. Para \"qual meu último pedido?\" / valores, USE consultar_pedido\n5. Para PROBLEMA SÉRIO (produto errado, atraso muito grande, reclamação, frustração, pedido de cancelamento, dúvida não respondida), USE escalar_suporte com motivo claro\n6. NUNCA invente preços, prazos, ingredientes, indicações — use buscar_conhecimento\n7. NUNCA prometa o que não pode cumprir\n\n=== TRIAGEM OBRIGATÓRIA — ANTES DE RECOMENDAR PRODUTO COM THC ===\nProdutos com THC: Full Spectrum CBD 1:1 THC 6.000 mg, Full Spectrum CBD 1:2 THC 10.000 mg, Gummy Bear 60 un.\nProdutos sem THC psicoativo (uso seguro padrão): CBD Full Spectrum 4.000 mg, Cannaderm Pomada 60 g, Lubrificante Íntimo 60 ml.\n\nQUANDO cliente pedir indicação pra ANSIEDADE, INSÔNIA, DEPRESSÃO, DOR CRÔNICA ou qualquer caso onde a recomendação natural seria THC:\nANTES de recomendar, faça UMA pergunta agrupada:\n\n\"Antes de te indicar o melhor produto, me responde rapidinho — você (ou a pessoa que vai usar) tem alguma dessas condições ou toma algum desses remédios?\\n\\n• Condições: síndrome do pânico, esquizofrenia/psicose, bipolar (mania), gestante/lactante, menor de 18, cardiopatia grave\\n• Remédios: anticoagulante (varfarina/marevan/rivaroxabana), sedativo forte (rivotril/diazepam), IMAO, lítio, antipsicótico\\n\\nSe nenhum desses, é só responder 'nenhum'.\"\n\nResposta do cliente:\n- \"nenhum\" / negativo → prosseguir com recomendação padrão do chunk\n- Qualquer condição da lista → APENAS CBD Full Spectrum 4.000 mg, Cannaderm Pomada, ou Lubrificante (uso tópico). NUNCA Amarelo/Vermelho/Gummy\n- Remédio da lista → escalar_suporte com motivo='interacao_medicamentosa' (humano avalia)\n- Resposta confusa ou cliente desviar → repetir pergunta uma vez; se persistir confuso → escalar_suporte\n\nSE cliente já chegou pedindo produto direto (\"quero o vermelho\", \"manda 1 amarelo\") → NÃO faça triagem. Marque intenção de fechamento (regra abaixo) e o agente de fechamento conduz dali.\n\n=== TRIAGEM ADICIONAL — DEPRESSÃO ===\nSE cliente menciona DEPRESSÃO, TRISTEZA PROFUNDA, ANTIDEPRESSIVO ou \"sem ânimo há muito tempo\":\n\n1. GRAVIDADE DO QUADRO:\n   Pergunte: \"Pra eu te indicar certo, me conta: já tomou antidepressivo antes? Funcionou? Há quanto tempo você tá assim?\"\n   - Depressão leve/média (primeira vez, sem remédio anterior): Full Spectrum 1:1 THC 6.000 mg\n   - Depressão refratária (já tentou SSRI/SNRI sem sucesso): Full Spectrum 1:2 THC 10.000 mg\n\n2. SINAL DE BIPOLARIDADE:\n   Pergunte: \"Você já teve fases ao contrário — muita energia, sem precisar dormir, falando rápido, fazendo várias coisas ao mesmo tempo?\"\n   - SIM → suspeita de bipolar. APENAS CBD Full Spectrum 4.000 mg. NUNCA recomendar THC sem acompanhamento psiquiátrico.\n   - NÃO → prosseguir com recomendação da gravidade acima.\n\nLembre-se: depressão SEMPRE precisa passar pela triagem THC geral também.\n\n=== TRIAGEM — CRIANÇA ===\nSE cliente menciona FILHO, FILHA, CRIANÇA, BEBÊ, NETO, PEDIATRA, AUTISMO INFANTIL, TDAH em criança, ou idade <18:\n\n1. Pergunte: \"Pra calcular a dose certinha pra criança, me conta a idade e se tem acompanhamento médico (pediatra ou neuro) ciente?\"\n2. Independente da resposta, RECOMENDE: APENAS CBD Full Spectrum 4.000 mg / 30 ml (sem THC).\n3. Dose pediátrica padrão: 1 gota sublingual 2x ao dia (manhã e noite), subir devagar conforme tolerância. Crianças <5 anos: começar com meia gota.\n4. Mencione (sem bloquear venda): \"Vale a pena alinhar com o médico que acompanha, mas pode começar tranquilo.\"\n5. NUNCA recomendar Amarelo, Vermelho ou Gummy pra menor de 18.\n\n=== TRIAGEM — PET (cão, gato) ===\nSE cliente menciona CACHORRO, CÃO, GATO, PET, ANIMAL, BICHINHO, VETERINÁRIO:\n\n1. Pergunte: \"Pra calcular a dose certa, me conta: é cão ou gato? E qual o peso aproximado?\"\n2. Recomende: APENAS CBD Full Spectrum 4.000 mg / 30 ml (NUNCA produto com THC pra pet — tóxico, especialmente pra gatos).\n3. Cálculo de dose: 1 gota por 5 kg de peso, 1-2x ao dia. Aplicar na gengiva, ração úmida ou petisco.\n4. Cães grandes (>40 kg): até 8 gotas 2x ao dia.\n5. Gatos: dose mínima (1 gota independente do peso, 1x ao dia). Felinos são bem mais sensíveis.\n\n=== ALERTA — DIREÇÃO E OPERAÇÃO DE MÁQUINAS ===\nSE cliente menciona MOTORISTA, CAMINHONEIRO, UBER, TAXISTA, TRABALHO NOTURNO, OPERAÇÃO DE MÁQUINA, e a recomendação inclui produto com THC (Amarelo/Vermelho/Gummy):\n\nMencione de forma natural na resposta: \"Importante: produtos com THC podem causar sonolência. Tome preferencialmente à noite e evite dirigir nas 4-6h após a dose. Se sua rotina é dirigir o dia todo, talvez seja melhor começarmos pelo CBD Full Spectrum 4.000 mg (sem efeito psicoativo).\"\n\nNão bloqueie a venda — apenas oriente.\n\n=== INTENÇÃO DE COMPRA (FECHAMENTO) ===\nQuando cliente expressar intenção CLARA de comprar (\"quero o vermelho\", \"manda 1 amarelo\", \"vou levar 2 gummies\", \"como fecho?\", \"pode mandar\"):\n→ Responda confirmando brevemente (\"Perfeito! Vou te passar pro fechamento agora.\")\n→ Chame escalar_suporte com motivo='intent_fechamento' (ainda manual até AGENT_CLOSING ativar).\nObs: quando AGENT_CLOSING entrar em produção, vai existir tool dedicada iniciar_fechamento que muda ultima_interacao='em_fechamento' e o router encaminha automaticamente.\n\nResponda em 1-2 mensagens curtas e naturais. Se precisar de mais info, pergunte uma coisa de cada vez.`;\n\nreturn [{\n  json: {\n    contato_id:        body.contato_id,\n    mensagens:         body.mensagens || '',\n    instancia_id:      body.instancia_id || null,\n    contato_nome:      contato.nome,\n    system_prompt:     systemPrompt,\n    user_message:      `Mensagens recentes do cliente:\\n${body.mensagens || '(vazio)'}`\n  }\n}];"
      },
      "id": "prep-context",
      "name": "PREP CONTEXTO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1540, 360]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('PREP CONTEXTO').item.json.user_message }}",
        "options": {
          "systemMessage": "={{ $('PREP CONTEXTO').item.json.system_prompt }}",
          "maxIterations": 6
        }
      },
      "id": "agent",
      "name": "AGENT_START",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-1280, 360]
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1",
          "temperature": 0.4
        }
      },
      "id": "llm",
      "name": "OpenRouter (Llama 3.3 70B free)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-1340, 580],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "name": "buscar_conhecimento",
        "description": "Busca informações sobre PRODUTOS, PREÇOS, BÔNUS, ARGUMENTOS DE VENDA, FAQs (interações medicamentosas, golpes, efeitos colaterais). Use SEMPRE que o cliente fizer pergunta sobre qualquer um desses temas. Passe a pergunta como string natural. Opcionalmente filtre por categoria.",
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/functions/v1/buscar-conhecimento-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey",       "value": "REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pergunta\":  \"{{ $fromAI('pergunta', 'pergunta do cliente em linguagem natural', 'string') }}\",\n  \"categoria\": {{ $fromAI('categoria', 'opcional: tabela | sobre_produtos | bonus | argumentos_venda | faq', 'string') ? '\"' + $fromAI('categoria', '', 'string') + '\"' : 'null' }},\n  \"limit\": 5\n}"
      },
      "id": "tool-buscar",
      "name": "Tool: buscar_conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-1140, 620]
    },
    {
      "parameters": {
        "name": "consultar_pedido",
        "description": "Retorna os últimos 5 pedidos do cliente atual (data, produto, valor, status, link de rastreio). Use quando o cliente perguntar sobre histórico, valores, produtos comprados, status de pagamento.",
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/consultar_pedidos_contato",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey",       "value": "REPLACE_WITH_SUPABASE_ANON_KEY" },
            { "name": "Authorization","value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\"\n}"
      },
      "id": "tool-pedido",
      "name": "Tool: consultar_pedido",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-960, 620]
    },
    {
      "parameters": {
        "name": "consultar_rastreio",
        "description": "Retorna dados de rastreio dos últimos pedidos do cliente (link de rastreamento, código, status de postagem). Use quando cliente perguntar 'onde tá meu pedido', 'quando chega', 'tem rastreio'.",
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/consultar_rastreio_contato",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey",       "value": "REPLACE_WITH_SUPABASE_ANON_KEY" },
            { "name": "Authorization","value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\"\n}"
      },
      "id": "tool-rastreio",
      "name": "Tool: consultar_rastreio",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-780, 620]
    },
    {
      "parameters": {
        "name": "consultar_cep",
        "description": "Calcula preço e prazo de frete via Superfrete (PAC, SEDEX, Mini Envios) pra um CEP de destino. Use quando cliente perguntar 'quanto fica o frete', 'qual prazo de entrega', 'cotação'. Se cliente não passou CEP, peça primeiro. qtd_produtos é opcional (default 1).",
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/functions/v1/consultar-frete-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to_cep\": \"{{ $fromAI('to_cep', 'CEP de destino do cliente (8 dígitos)', 'string') }}\",\n  \"qtd_produtos\": {{ $fromAI('qtd_produtos', 'quantidade de produtos no carrinho', 'number') || 1 }}\n}"
      },
      "id": "tool-cep",
      "name": "Tool: consultar_cep",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-600, 620]
    },
    {
      "parameters": {
        "name": "escalar_suporte",
        "description": "Encaminha o contato pro Kanban Suporte (atendimento humano). Use quando: cliente está com PROBLEMA SÉRIO (produto errado, atraso muito grande), RECLAMAÇÃO grave, FRUSTRAÇÃO/palavras agressivas, PEDIDO DE CANCELAMENTO, dúvida que você NÃO conseguiu responder mesmo após buscar_conhecimento, INTENÇÃO DE COMPRA (fechamento ainda é manual). Passe motivo claro em português.",
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/marcar_contato_suporte",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey",       "value": "REPLACE_WITH_SUPABASE_ANON_KEY" },
            { "name": "Authorization","value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\",\n  \"p_motivo\":     \"{{ $fromAI('motivo', 'motivo curto da escalação em português', 'string') }}\"\n}"
      },
      "id": "tool-suporte",
      "name": "Tool: escalar_suporte",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-420, 620]
    },
    {
      "parameters": {
        "jsCode": "// Empacota resposta pro Router\nconst out = $input.first().json.output || $input.first().json.text || '';\nreturn [{\n  json: {\n    resposta_texto: out,\n    contato_id:     $('Webhook: agent-start').item.json.body.contato_id\n  }\n}];"
      },
      "id": "format-out",
      "name": "FORMAT OUTPUT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1040, 360]
    }
  ],
  "connections": {
    "Webhook: agent-start": {
      "main": [
        [
          { "node": "CTX últimos pedidos", "type": "main", "index": 0 },
          { "node": "CTX contato",         "type": "main", "index": 0 }
        ]
      ]
    },
    "CTX últimos pedidos": { "main": [[ { "node": "PREP CONTEXTO", "type": "main", "index": 0 } ]] },
    "CTX contato":         { "main": [[ { "node": "PREP CONTEXTO", "type": "main", "index": 0 } ]] },
    "PREP CONTEXTO":       { "main": [[ { "node": "AGENT_START",   "type": "main", "index": 0 } ]] },
    "AGENT_START":         { "main": [[ { "node": "FORMAT OUTPUT", "type": "main", "index": 0 } ]] },

    "OpenRouter (Llama 3.3 70B free)": {
      "ai_languageModel": [[ { "node": "AGENT_START", "type": "ai_languageModel", "index": 0 } ]]
    },
    "Tool: buscar_conhecimento": { "ai_tool": [[ { "node": "AGENT_START", "type": "ai_tool", "index": 0 } ]] },
    "Tool: consultar_pedido":    { "ai_tool": [[ { "node": "AGENT_START", "type": "ai_tool", "index": 0 } ]] },
    "Tool: consultar_rastreio":  { "ai_tool": [[ { "node": "AGENT_START", "type": "ai_tool", "index": 0 } ]] },
    "Tool: consultar_cep":       { "ai_tool": [[ { "node": "AGENT_START", "type": "ai_tool", "index": 0 } ]] },
    "Tool: escalar_suporte":     { "ai_tool": [[ { "node": "AGENT_START", "type": "ai_tool", "index": 0 } ]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "instanceId": "santa-flor-crm" },
  "tags": []
}
