scratch/n8n-router-workflow.json
{
  "name": "Router (Evolution Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "router-evolution",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2200,
        400
      ],
      "webhookId": "router-evolution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "instancia_nome",
              "value": "={{ $json.body?.instance || $json.instance }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "telefone_raw",
              "value": "={{ $json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "telefone_clean",
              "value": "={{ ($json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '').replace(/\\D/g, '').replace(/^55(\\d{10,11})$/, '55$1') }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "from_me",
              "value": "={{ $json.body?.data?.key?.fromMe || $json.data?.key?.fromMe || false }}",
              "type": "boolean"
            },
            {
              "id": "5",
              "name": "msg_text",
              "value": "={{ $json.body?.data?.message?.conversation || $json.body?.data?.message?.extendedTextMessage?.text || $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || '' }}",
              "type": "string"
            },
            {
              "id": "6",
              "name": "message_type",
              "value": "={{ Object.keys($json.body?.data?.message || $json.data?.message || {})[0] || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "7",
              "name": "push_name",
              "value": "={{ $json.body?.data?.pushName || $json.data?.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "8",
              "name": "msg_id",
              "value": "={{ $json.body?.data?.key?.id || $json.data?.key?.id || '' }}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "ctwa_source_id",
              "value": "={{ $json.body?.data?.message?.messageContextInfo?.ctwaContext?.sourceId || $json.data?.message?.messageContextInfo?.ctwaContext?.sourceId || null }}",
              "type": "string"
            },
            {
              "id": "10",
              "name": "ctwa_source_url",
              "value": "={{ $json.body?.data?.message?.messageContextInfo?.ctwaContext?.sourceUrl || $json.data?.message?.messageContextInfo?.ctwaContext?.sourceUrl || null }}",
              "type": "string"
            },
            {
              "id": "11",
              "name": "evolution_base_url",
              "value": "https://evo.melhorgestao.online",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-fields",
      "name": "EXTRAI CAMPOS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1980,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/instancias",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ativo",
              "value": "eq.true"
            },
            {
              "name": "status",
              "value": "eq.ativo"
            },
            {
              "name": "evolution_apikey",
              "value": "not.is.null"
            },
            {
              "name": "select",
              "value": "id,nome,evolution_instance,evolution_url,evolution_apikey"
            }
          ]
        },
        "options": {}
      },
      "id": "get-instancias-router",
      "name": "GET INSTÂNCIAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1870,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Resolve config da instância que recebeu a mensagem (matching pelo evolution_instance)\nconst instancia_nome = $('EXTRAI CAMPOS').item.json.instancia_nome;\nconst instancias = $input.all().map(i => i.json);\nconst inst = instancias.find(i => i.evolution_instance === instancia_nome) || null;\nreturn [{\n  json: {\n    ...$('EXTRAI CAMPOS').item.json,\n    instancia_uuid: inst?.id || null,\n    evolution_apikey: inst?.evolution_apikey || null,\n    evolution_url: inst?.evolution_url || $('EXTRAI CAMPOS').item.json.evolution_base_url,\n    _instancia_found: inst !== null,\n  }\n}];"
      },
      "id": "resolve-inst-router",
      "name": "RESOLVE CONFIG INSTÂNCIA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "valid-type",
              "leftValue": "conversation,extendedTextMessage,audioMessage,imageMessage,videoMessage,documentMessage",
              "rightValue": "={{ $json.message_type }}",
              "operator": {
                "type": "string",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-types",
      "name": "TIPO ACEITO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1760,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ignored\",\"reason\":\"unsupported_message_type\"}"
      },
      "id": "respond-ignored-type",
      "name": "Respond: tipo ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1760,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "is-from-me",
              "leftValue": "={{ $json.from_me }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-from-me",
      "name": "É fromMe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1540,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "starts-with-slash",
              "leftValue": "={{ $json.msg_text }}",
              "rightValue": "/",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-is-command",
      "name": "É comando /?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1320,
        250
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ignored\",\"reason\":\"from_me_no_command\"}"
      },
      "id": "respond-ignored-echo",
      "name": "Respond: eco do bot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1100,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/get_or_create_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telefone\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"p_nome\": \"{{ $('EXTRAI CAMPOS').item.json.push_name }}\",\n  \"p_instancia_id\": \"{{ $('RESOLVE CONFIG INSTÂNCIA').item.json.instancia_uuid }}\",\n  \"p_canal_origem\": \"{{ $('EXTRAI CAMPOS').item.json.ctwa_source_id ? 'ADS' : 'BASE' }}\",\n  \"p_mensagem\": \"{{ $('EXTRAI CAMPOS').item.json.msg_text.replace(/\\\"/g, '\\\\\\\"').replace(/\\\\n/g, ' ') }}\",\n  \"p_metadata\": {{ JSON.stringify({ctwa_source_id: $('EXTRAI CAMPOS').item.json.ctwa_source_id, ctwa_source_url: $('EXTRAI CAMPOS').item.json.ctwa_source_url}) }}\n}",
        "options": {}
      },
      "id": "get-create-contato-cmd",
      "name": "GET/CREATE Contato (cmd)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/executa_comando_dono",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $json.id }}\",\n  \"p_comando\": \"{{ $('EXTRAI CAMPOS').item.json.msg_text.split(' ')[0] }}\"\n}",
        "options": {}
      },
      "id": "exec-command",
      "name": "EXECUTA COMANDO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"command_executed\",\"result\":$json}"
      },
      "id": "respond-cmd-done",
      "name": "Respond: comando OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -660,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/get_or_create_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telefone\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"p_nome\": \"{{ $('EXTRAI CAMPOS').item.json.push_name }}\",\n  \"p_instancia_id\": \"{{ $('RESOLVE CONFIG INSTÂNCIA').item.json.instancia_uuid }}\",\n  \"p_canal_origem\": \"{{ $('EXTRAI CAMPOS').item.json.ctwa_source_id ? 'ADS' : 'BASE' }}\",\n  \"p_mensagem\": \"{{ $('EXTRAI CAMPOS').item.json.msg_text.replace(/\\\"/g, '\\\\\\\"').replace(/\\\\n/g, ' ') }}\",\n  \"p_metadata\": {{ JSON.stringify({ctwa_source_id: $('EXTRAI CAMPOS').item.json.ctwa_source_id, ctwa_source_url: $('EXTRAI CAMPOS').item.json.ctwa_source_url}) }}\n}",
        "options": {}
      },
      "id": "get-create-contato",
      "name": "GET/CREATE Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1320,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/mensagens_buffer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contato_id\": \"{{ $('GET/CREATE Contato').item.json.id }}\",\n  \"telefone\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"mensagem\": \"{{ $('PREP TEXTO (transcreve áudio)').item.json.texto_final.replace(/\\\"/g, '\\\\\\\"') }}\",\n  \"tipo\": \"{{ $('EXTRAI CAMPOS').item.json.message_type === 'audioMessage' ? 'audio' : 'text' }}\",\n  \"direcao\": \"in\",\n  \"instancia_id\": \"{{ $('RESOLVE CONFIG INSTÂNCIA').item.json.instancia_uuid }}\"\n}",
        "options": {}
      },
      "id": "insert-buffer-in",
      "name": "SAVE Buffer (in)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "bot-active",
              "leftValue": "={{ $('GET/CREATE Contato').item.json.bot_pausado_ate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-bot-active",
      "name": "Bot ativo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"bot_paused\",\"buffered\":true}"
      },
      "id": "respond-bot-paused",
      "name": "Respond: bot pausado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -880,
        800
      ]
    },
    {
      "parameters": {
        "amount": 12,
        "unit": "seconds"
      },
      "id": "debounce-wait",
      "name": "WAIT 12s (debounce)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -660,
        500
      ],
      "webhookId": "router-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/process_batch_mensagens",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('GET/CREATE Contato').item.json.id }}\",\n  \"p_minha_recebida_em\": \"{{ $('SAVE Buffer (in)').item.json.recebida_em || $('SAVE Buffer (in)').item.json[0]?.recebida_em }}\"\n}",
        "options": {}
      },
      "id": "process-batch",
      "name": "PROCESS BATCH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "should-process",
              "leftValue": "={{ $json.devo_processar }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-process",
      "name": "Devo processar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"superseded_by_newer_msg\"}"
      },
      "id": "respond-superseded",
      "name": "Respond: superseded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -220,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ['em_fechamento','aguardando_pagamento'].includes($('GET/CREATE Contato').item.json.ultima_interacao) ? 'https://n8n.melhorgestao.online/webhook/agent-closing' : 'https://n8n.melhorgestao.online/webhook/agent-start' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('BUILD AGENT BODY').item.json.body_str }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "agent-call",
      "name": "AGENT_START (call)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('RESOLVE CONFIG INSTÂNCIA').item.json.evolution_url }}/message/sendText/{{ encodeURIComponent($('EXTRAI CAMPOS').item.json.instancia_nome) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('RESOLVE CONFIG INSTÂNCIA').item.json.evolution_apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"text\": \"{{ $('AGENT_START (call)').item.json.resposta_texto.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\"') }}\",\n  \"delay\": 1500\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-evolution",
      "name": "EVOLUTION SEND",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/mensagens_buffer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contato_id\": \"{{ $('GET/CREATE Contato').item.json.id }}\",\n  \"telefone\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"mensagem\": {{ JSON.stringify($('AGENT_START (call)').item.json.resposta_texto || '') }},\n  \"tipo\": \"text\",\n  \"direcao\": \"out\",\n  \"instancia_id\": \"{{ $('RESOLVE CONFIG INSTÂNCIA').item.json.instancia_uuid }}\",\n  \"processada_em\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "save-buffer-out",
      "name": "SAVE Buffer (out)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/eventos_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contato_id\": \"{{ $('GET/CREATE Contato').item.json.id }}\",\n  \"tipo\": \"router_turn\",\n  \"canal\": \"{{ $('EXTRAI CAMPOS').item.json.instancia_nome }}\",\n  \"instancia_id\": \"{{ $('RESOLVE CONFIG INSTÂNCIA').item.json.instancia_uuid }}\",\n  \"metadata\": {{ JSON.stringify({msg_in: ($('PROCESS BATCH').item.json.mensagens_concat || ''), msg_in_count: ($('PROCESS BATCH').item.json.count_msgs || 0), msg_out: (($('AGENT_START (call)').item.json.resposta_texto || '') + '').substring(0, 200)}) }}\n}",
        "options": {}
      },
      "id": "log-event",
      "name": "LOG eventos_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"processed\",\"contato\":\"{{ $('GET/CREATE Contato').item.json.id }}\"}"
      },
      "id": "respond-done",
      "name": "Respond: processed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Se for áudio, chama edge transcrever-audio. Senão, repassa msg_text original.\nconst e = $('EXTRAI CAMPOS').item.json;\nconst msgText = e.msg_text || '';\nconst msgType = e.message_type || '';\nconst msgId   = e.msg_id || '';\nconst instId  = $('RESOLVE CONFIG INSTÂNCIA').item.json.instancia_uuid;\n\nif (msgType !== 'audioMessage') {\n  return [{ json: { texto_final: msgText, foi_transcrito: false, tipo_origem: msgType || 'text' } }];\n}\n\nif (!msgId || !instId) {\n  return [{ json: { texto_final: '(áudio recebido sem msg_id — não foi possível transcrever)', foi_transcrito: false, tipo_origem: 'audio' } }];\n}\n\ntry {\n  const r = await fetch('https://epreaawpvxrpqqthcczu.supabase.co/functions/v1/transcrever-audio', {\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E',\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E'\n    },\n    body: JSON.stringify({ instancia_id: instId, msg_id: msgId })\n  });\n  const data = await r.json();\n  if (!data.ok) {\n    return [{ json: { texto_final: '(áudio recebido — falha ao transcrever: ' + (data.error || 'erro desconhecido') + ')', foi_transcrito: false, tipo_origem: 'audio', erro: data.error } }];\n  }\n  const texto = (data.texto || '').trim();\n  if (!texto) {\n    return [{ json: { texto_final: '(áudio sem voz reconhecida)', foi_transcrito: false, tipo_origem: 'audio' } }];\n  }\n  return [{ json: { texto_final: texto, foi_transcrito: true, tipo_origem: 'audio' } }];\n} catch (err) {\n  return [{ json: { texto_final: '(áudio recebido — erro na transcrição: ' + err.message + ')', foi_transcrito: false, tipo_origem: 'audio' } }];\n}"
      },
      "id": "prep-texto-mensagem",
      "name": "PREP TEXTO (transcreve áudio)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1210,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Monta body limpo (JSON.stringify garante escape de \\n, aspas, etc)\nconst body = {\n  contato_id: $('GET/CREATE Contato').item.json.id,\n  mensagens: $('PROCESS BATCH').item.json.mensagens_concat || '',\n  instancia_id: $('RESOLVE CONFIG INSTÂNCIA').item.json.instancia_uuid\n};\nreturn [{ json: { body_str: JSON.stringify(body) } }];"
      },
      "id": "build-agent-body",
      "name": "BUILD AGENT BODY",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -110,
        480
      ]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "EXTRAI CAMPOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRAI CAMPOS": {
      "main": [
        [
          {
            "node": "GET INSTÂNCIAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET INSTÂNCIAS": {
      "main": [
        [
          {
            "node": "RESOLVE CONFIG INSTÂNCIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESOLVE CONFIG INSTÂNCIA": {
      "main": [
        [
          {
            "node": "TIPO ACEITO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TIPO ACEITO?": {
      "main": [
        [
          {
            "node": "É fromMe?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: tipo ignorado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É fromMe?": {
      "main": [
        [
          {
            "node": "É comando /?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET/CREATE Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É comando /?": {
      "main": [
        [
          {
            "node": "GET/CREATE Contato (cmd)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: eco do bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET/CREATE Contato (cmd)": {
      "main": [
        [
          {
            "node": "EXECUTA COMANDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXECUTA COMANDO": {
      "main": [
        [
          {
            "node": "Respond: comando OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET/CREATE Contato": {
      "main": [
        [
          {
            "node": "PREP TEXTO (transcreve áudio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE Buffer (in)": {
      "main": [
        [
          {
            "node": "Bot ativo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot ativo?": {
      "main": [
        [
          {
            "node": "WAIT 12s (debounce)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: bot pausado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAIT 12s (debounce)": {
      "main": [
        [
          {
            "node": "PROCESS BATCH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PROCESS BATCH": {
      "main": [
        [
          {
            "node": "Devo processar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Devo processar?": {
      "main": [
        [
          {
            "node": "BUILD AGENT BODY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond: superseded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENT_START (call)": {
      "main": [
        [
          {
            "node": "EVOLUTION SEND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EVOLUTION SEND": {
      "main": [
        [
          {
            "node": "SAVE Buffer (out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE Buffer (out)": {
      "main": [
        [
          {
            "node": "LOG eventos_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG eventos_contato": {
      "main": [
        [
          {
            "node": "Respond: processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREP TEXTO (transcreve áudio)": {
      "main": [
        [
          {
            "node": "SAVE Buffer (in)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUILD AGENT BODY": {
      "main": [
        [
          {
            "node": "AGENT_START (call)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "santa-flor-crm"
  },
  "tags": []
}