scratch/n8n-rastreio-multi-instance-workflow.json
{
  "name": "Disparo Rastreio Multi-Instância",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule 30 min (fallback)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-2080, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/pedidos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status_pedido", "value": "eq.postado" },
            { "name": "link_rastreio", "value": "not.is.null" },
            { "name": "rastreio_enviado_em", "value": "is.null" },
            { "name": "rastreio_tentativas", "value": "lt.5" },
            { "name": "updated_at", "value": "=lt.{{ new Date(Date.now() - 60*60*1000).toISOString() }}" },
            { "name": "select", "value": "id,order_number,link_rastreio,codigo_rastreio,contato_id,rastreio_tentativas" },
            { "name": "order", "value": "data.asc" },
            { "name": "limit", "value": "20" }
          ]
        },
        "options": {}
      },
      "id": "get-pedidos",
      "name": "GET PEDIDOS POSTADOS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1860, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/instancias",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "ativo", "value": "eq.true" },
            { "name": "evolution_apikey", "value": "not.is.null" },
            { "name": "select", "value": "id,nome,evolution_instance,evolution_url,evolution_apikey,alerta_admin" }
          ]
        },
        "options": {}
      },
      "id": "get-instancias",
      "name": "GET INSTÂNCIAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1640, 320]
    },
    {
      "parameters": {
        "jsCode": "// Recebe [pedidos] do GET PEDIDOS POSTADOS e [instancias] do GET INSTÂNCIAS\n// Filtra instâncias com apikey vazia/empty-string e passa lookup adiante.\nconst pedidos = $('GET PEDIDOS POSTADOS').all().map(i => i.json);\nconst instancias = $('GET INSTÂNCIAS').all().map(i => i.json)\n  .filter(i => i.evolution_apikey && String(i.evolution_apikey).trim().length > 0);\n\nconst byId = Object.fromEntries(instancias.map(i => [i.id, i]));\nconst adminInst = instancias.find(i => i.alerta_admin === true) || instancias[0] || null;\n\nconst out = [];\nfor (const p of pedidos) {\n  // resolução final acontece após GET CONTATO (precisa contato.instancia_id como fallback)\n  out.push({\n    json: {\n      ...p,\n      _byId: byId,\n      _admin_instancia: adminInst,\n    },\n  });\n}\nreturn out;"
      },
      "id": "merge-config",
      "name": "MERGE PEDIDO+CONFIG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1420, 320]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [-1200, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/contatos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $json.contato_id }}" },
            { "name": "select", "value": "id,nome,telefone,instancia_id,canal_origem,canal_atual,representante_id,representante:representante_id(id,nome,telefone,instancia_id)" },
            { "name": "limit", "value": "1" }
          ]
        },
        "options": {}
      },
      "id": "get-contato",
      "name": "GET CONTATO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-980, 320]
    },
    {
      "parameters": {
        "jsCode": "// Resolve destinatário e instância.\n// Regra C-REP: se canal_origem='C-REP' e tem representante, o rastreio vai pro REP\n// (telefone + instancia_id do representante). REP repassa pro cliente final.\nconst contato = $input.first().json;\nconst pedido = $('Split In Batches').item.json;\nconst byId = pedido._byId || {};\nconst adminInst = pedido._admin_instancia || null;\n\nconst isCRep = (contato.canal_origem === 'C-REP' || contato.canal_atual === 'C-REP');\nconst rep = (isCRep && contato.representante) ? contato.representante : null;\n\n// destinatário efetivo: REP se C-REP, senão o próprio contato\nconst destinatario = rep ? {\n  nome: rep.nome,\n  telefone: rep.telefone,\n  instancia_id: rep.instancia_id || contato.instancia_id,\n  via_rep: true,\n  cliente_nome: contato.nome,\n} : {\n  nome: contato.nome,\n  telefone: contato.telefone,\n  instancia_id: contato.instancia_id,\n  via_rep: false,\n  cliente_nome: contato.nome,\n};\n\nconst inst = destinatario.instancia_id ? (byId[destinatario.instancia_id] || null) : null;\n\nreturn [{\n  json: {\n    ...destinatario,\n    _instancia: inst,\n    _admin_instancia: adminInst,\n  }\n}];"
      },
      "id": "resolve-instancia",
      "name": "RESOLVE INSTÂNCIA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-860, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "telefone-exists",
              "leftValue": "={{ $json.telefone }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            },
            {
              "id": "instancia-exists",
              "leftValue": "={{ $json._instancia?.evolution_apikey }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-telefone",
      "name": "IF telefone+instância OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-760, 320]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 60) + 30 }}",
        "unit": "seconds"
      },
      "id": "wait-jitter",
      "name": "JITTER 30-90s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-640, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('RESOLVE INSTÂNCIA').item.json._instancia.evolution_url }}/message/sendText/{{ encodeURIComponent($('RESOLVE INSTÂNCIA').item.json._instancia.evolution_instance) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('RESOLVE INSTÂNCIA').item.json._instancia.evolution_apikey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ ('55' + String($('RESOLVE INSTÂNCIA').item.json.telefone).replace(/\\D/g, '')).replace(/^5555/, '55') }}\",\n  \"text\": \"={{ $('RESOLVE INSTÂNCIA').item.json.via_rep ? ('Olá ' + $('RESOLVE INSTÂNCIA').item.json.nome.split(' ')[0] + '!\\n\\nPedido do cliente *' + $('RESOLVE INSTÂNCIA').item.json.cliente_nome + '* foi postado pela Santa Flor.\\n\\nLink de rastreio para repassar ao cliente:\\n' + $('Split In Batches').item.json.link_rastreio) : ('Olá ' + $('RESOLVE INSTÂNCIA').item.json.nome.split(' ')[0] + '!\\n\\nSeu pedido foi postado pela Santa Flor.\\n\\nAcompanhe a entrega:\\n' + $('Split In Batches').item.json.link_rastreio + '\\n\\nBom uso!') }}\",\n  \"delay\": 2000\n}",
        "options": {
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "send-msg-evo",
      "name": "SEND MSG EVO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-520, 220],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "no-key",
              "leftValue": "={{ $json.key?.id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "detecta-falha",
      "name": "DETECTA FALHA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-300, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/incrementar_tentativa_rastreio",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pedido_id\": \"{{ $('Split In Batches').item.json.id }}\"\n}",
        "options": {}
      },
      "id": "increment-tentativa",
      "name": "INCREMENT TENTATIVA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "tentativas-gte-3",
              "leftValue": "={{ Number($json) }}",
              "rightValue": 3,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tentativas-3",
      "name": "IF tentativas >= 3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [140, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('RESOLVE INSTÂNCIA').item.json._admin_instancia.evolution_url }}/message/sendText/{{ $('RESOLVE INSTÂNCIA').item.json._admin_instancia.evolution_instance }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $('RESOLVE INSTÂNCIA').item.json._admin_instancia.evolution_apikey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"5511991282579\",\n  \"text\": \"🚨 ALERTA RASTREIO\\n\\nFalha ao enviar link (tentativa {{ Number($('INCREMENT TENTATIVA').item.json) }}/5).\\nInstância: {{ $('RESOLVE INSTÂNCIA').item.json._instancia?.nome || '?' }}\\nPedido: #{{ $('Split In Batches').item.json.order_number }}\\nContato: {{ $('GET CONTATO').item.json?.nome || '—' }}\\nTelefone: {{ $('GET CONTATO').item.json?.telefone || '—' }}\\n\\nVer logs do n8n.\"\n}",
        "options": {}
      },
      "id": "alerta-falha",
      "name": "ALERTA FALHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [380, 20]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/pedidos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id", "value": "=eq.{{ $('Split In Batches').item.json.id }}" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rastreio_enviado_em\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "marca-enviado",
      "name": "MARCA ENVIADO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 340]
    }
  ],
  "connections": {
    "Schedule 30 min (fallback)": {
      "main": [
        [ { "node": "GET PEDIDOS POSTADOS", "type": "main", "index": 0 } ]
      ]
    },
    "GET PEDIDOS POSTADOS": {
      "main": [
        [ { "node": "GET INSTÂNCIAS", "type": "main", "index": 0 } ]
      ]
    },
    "GET INSTÂNCIAS": {
      "main": [
        [ { "node": "MERGE PEDIDO+CONFIG", "type": "main", "index": 0 } ]
      ]
    },
    "MERGE PEDIDO+CONFIG": {
      "main": [
        [ { "node": "Split In Batches", "type": "main", "index": 0 } ]
      ]
    },
    "Split In Batches": {
      "main": [
        [],
        [ { "node": "GET CONTATO", "type": "main", "index": 0 } ]
      ]
    },
    "GET CONTATO": {
      "main": [
        [ { "node": "RESOLVE INSTÂNCIA", "type": "main", "index": 0 } ]
      ]
    },
    "RESOLVE INSTÂNCIA": {
      "main": [
        [ { "node": "IF telefone+instância OK", "type": "main", "index": 0 } ]
      ]
    },
    "IF telefone+instância OK": {
      "main": [
        [ { "node": "JITTER 30-90s", "type": "main", "index": 0 } ],
        [ { "node": "Split In Batches", "type": "main", "index": 0 } ]
      ]
    },
    "JITTER 30-90s": {
      "main": [
        [ { "node": "SEND MSG EVO", "type": "main", "index": 0 } ]
      ]
    },
    "SEND MSG EVO": {
      "main": [
        [ { "node": "DETECTA FALHA?", "type": "main", "index": 0 } ]
      ]
    },
    "DETECTA FALHA?": {
      "main": [
        [ { "node": "INCREMENT TENTATIVA", "type": "main", "index": 0 } ],
        [ { "node": "MARCA ENVIADO", "type": "main", "index": 0 } ]
      ]
    },
    "INCREMENT TENTATIVA": {
      "main": [
        [ { "node": "IF tentativas >= 3", "type": "main", "index": 0 } ]
      ]
    },
    "IF tentativas >= 3": {
      "main": [
        [ { "node": "ALERTA FALHA", "type": "main", "index": 0 } ],
        [ { "node": "Split In Batches", "type": "main", "index": 0 } ]
      ]
    },
    "ALERTA FALHA": {
      "main": [
        [ { "node": "Split In Batches", "type": "main", "index": 0 } ]
      ]
    },
    "MARCA ENVIADO": {
      "main": [
        [ { "node": "Split In Batches", "type": "main", "index": 0 } ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": { "instanceId": "santa-flor-crm" },
  "tags": []
}
