scratch/n8n-rmkt-followup-multi-instance.json
{
  "name": "RMKT + Follow-up Multi-Instância",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule 1min (ritmo controlado pela campanha)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2400,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/instancias",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ativo",
              "value": "eq.true"
            },
            {
              "name": "status",
              "value": "eq.ativo"
            },
            {
              "name": "evolution_apikey",
              "value": "not.is.null"
            },
            {
              "name": "select",
              "value": "id,nome,evolution_instance,evolution_url,evolution_apikey,alerta_admin"
            }
          ]
        },
        "options": {}
      },
      "id": "get-instancias",
      "name": "GET INSTÂNCIAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2180,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const instancias = $input.all().map(i => i.json).filter(i => i.evolution_apikey && String(i.evolution_apikey).trim().length > 0);\nreturn instancias.map(i => ({ json: i }));"
      },
      "id": "prep-instancias",
      "name": "PREP INSTÂNCIAS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1960,
        320
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-inst",
      "name": "Split por Instância",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1740,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.evolution_url }}/instance/connectionState/{{ encodeURIComponent($json.evolution_instance) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.evolution_apikey }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "preflight",
      "name": "PRE-FLIGHT connectionState",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1520,
        320
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const inst = $('Split por Instância').item.json;\nconst resp = $input.first().json;\nconst state = resp?.instance?.state || resp?.state || null;\nreturn [{ json: { ...inst, _skip: state !== 'open', _detected_state: state || 'unreachable' } }];"
      },
      "id": "check-state",
      "name": "CHECK STATE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1300,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-skip",
      "name": "Pular instância?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1080,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/pausar_instancia",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_id\": \"{{ $json.id }}\",\n  \"p_motivo\": \"connectionState={{ $json._detected_state }}\",\n  \"p_horas\": 6\n}",
        "options": {}
      },
      "id": "pausar-inst",
      "name": "PAUSA INSTÂNCIA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/pode_disparar_campanha",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tipo\": \"followup\"\n}",
        "options": {}
      },
      "id": "anti-ban",
      "name": "ANTI-BAN CHECK",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-anti-ban",
      "name": "Pode disparar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -700,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/claim_proximo_lead_followup",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_instancia_id\": \"{{ $('Split por Instância').item.json.id }}\"\n}",
        "options": {}
      },
      "id": "claim-followup",
      "name": "CLAIM follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -860,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-lead",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tem-followup",
      "name": "Tem follow-up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/claim_proximo_lead_rmkt",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_instancia_id\": \"{{ $('Split por Instância').item.json.id }}\",\n  \"p_dias_gap\": 30\n}",
        "options": {}
      },
      "id": "claim-rmkt",
      "name": "CLAIM rmkt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-rmkt",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tem-rmkt",
      "name": "Tem rmkt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "let payload;\nconst hasFu = $(\"Tem follow-up?\").item.json.length > 0;\nif (hasFu) {\n  const lead = $(\"CLAIM follow-up\").item.json[0];\n  // claim retorna a coluna subcategoria (24h/3d/7d), NÃO tentativa\n  payload = { contato_id: lead.id, telefone: lead.telefone, categoria: \"followup\", subcategoria: lead.subcategoria || \"24h\" };\n} else {\n  const lead = $(\"CLAIM rmkt\").item.json[0];\n  payload = { contato_id: lead.id, telefone: lead.telefone, categoria: \"rmkt\", subcategoria: null };\n}\nreturn [{ json: payload }];"
      },
      "id": "merge-lead",
      "name": "UNIFICA LEAD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/escolhe_template_v2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_categoria\": \"{{ $json.categoria }}\",\n  \"p_subcategoria\": {{ $json.subcategoria ? '\"' + $json.subcategoria + '\"' : 'null' }},\n  \"p_contato_id\": \"{{ $json.contato_id }}\",\n  \"p_instancia_id\": \"{{ $('Split por Instância').item.json.id }}\"\n}",
        "options": {}
      },
      "id": "escolhe-template",
      "name": "ESCOLHE TEMPLATE v2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "tpl-ok",
              "leftValue": "={{ $json?.texto }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-template",
      "name": "Template liberado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        580
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 60) + 30 }}",
        "unit": "seconds"
      },
      "id": "wait-jitter",
      "name": "JITTER 30-90s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        580
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-anexo",
              "leftValue": "={{ $('ESCOLHE TEMPLATE v2').item.json?.anexo_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-anexo",
      "name": "Tem anexo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Split por Instância').item.json.evolution_url }}/message/sendMedia/{{ encodeURIComponent($('Split por Instância').item.json.evolution_instance) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Split por Instância').item.json.evolution_apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ ('55' + String($('UNIFICA LEAD').item.json.telefone).replace(/\\D/g, '')).replace(/^5555/, '55') }}\",\n  \"mediatype\": \"{{ $('ESCOLHE TEMPLATE v2').item.json.anexo_tipo }}\",\n  \"media\": \"{{ $('ESCOLHE TEMPLATE v2').item.json.anexo_url }}\",\n  \"caption\": \"{{ $('ESCOLHE TEMPLATE v2').item.json.texto.replace(/\\\"/g, '\\\\\\\"') }}\",\n  \"delay\": 2000\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-media",
      "name": "SEND MEDIA EVO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        480
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Split por Instância').item.json.evolution_url }}/message/sendText/{{ encodeURIComponent($('Split por Instância').item.json.evolution_instance) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Split por Instância').item.json.evolution_apikey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ ('55' + String($('UNIFICA LEAD').item.json.telefone).replace(/\\D/g, '')).replace(/^5555/, '55') }}\",\n  \"text\": \"{{ $('ESCOLHE TEMPLATE v2').item.json.texto.replace(/\\\"/g, '\\\\\\\"') }}\",\n  \"delay\": 2000\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-text",
      "name": "SEND TEXT EVO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        680
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "nokey",
              "leftValue": "={{ $json.key?.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "detecta-falha",
      "name": "DETECTA FALHA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1360,
        580
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/pausar_instancia",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_id\": \"{{ $('Split por Instância').item.json.id }}\",\n  \"p_motivo\": \"send falhou — sem key.id\",\n  \"p_horas\": 6\n}",
        "options": {}
      },
      "id": "pausar-na-falha",
      "name": "PAUSA instância (falha send)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/registrar_envio_campanha",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_campanha_id\": \"{{ $('ESCOLHE TEMPLATE v2').item.json.campanha_id }}\",\n  \"p_template_id\": \"{{ $('ESCOLHE TEMPLATE v2').item.json.template_id }}\",\n  \"p_instancia_id\": \"{{ $('Split por Instância').item.json.id }}\",\n  \"p_contato_id\": \"{{ $('UNIFICA LEAD').item.json.contato_id }}\"\n}",
        "options": {}
      },
      "id": "registra-envio",
      "name": "REGISTRA ENVIO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/eventos_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contato_id\": \"{{ $('UNIFICA LEAD').item.json.contato_id }}\",\n  \"tipo\": \"{{ $('UNIFICA LEAD').item.json.categoria }}_enviado\",\n  \"canal\": \"{{ $('Split por Instância').item.json.evolution_instance }}\",\n  \"instancia_id\": \"{{ $('Split por Instância').item.json.id }}\",\n  \"metadata\": {{ JSON.stringify({sub: $('UNIFICA LEAD').item.json.subcategoria, campanha_id: $('ESCOLHE TEMPLATE v2').item.json.campanha_id, template_id: $('ESCOLHE TEMPLATE v2').item.json.template_id, anexo: !!$('ESCOLHE TEMPLATE v2').item.json.anexo_url, texto: $('ESCOLHE TEMPLATE v2').item.json.texto?.substring(0,200)}) }}\n}",
        "options": {}
      },
      "id": "log-evento",
      "name": "LOG eventos_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        680
      ]
    }
  ],
  "connections": {
    "Schedule 1min (ritmo controlado pela campanha)": {
      "main": [
        [
          {
            "node": "GET INSTÂNCIAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET INSTÂNCIAS": {
      "main": [
        [
          {
            "node": "PREP INSTÂNCIAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREP INSTÂNCIAS": {
      "main": [
        [
          {
            "node": "Split por Instância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split por Instância": {
      "main": [
        [],
        [
          {
            "node": "PRE-FLIGHT connectionState",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRE-FLIGHT connectionState": {
      "main": [
        [
          {
            "node": "CHECK STATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CHECK STATE": {
      "main": [
        [
          {
            "node": "Pular instância?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pular instância?": {
      "main": [
        [
          {
            "node": "PAUSA INSTÂNCIA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ANTI-BAN CHECK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ANTI-BAN CHECK": {
      "main": [
        [
          {
            "node": "Pode disparar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pode disparar?": {
      "main": [
        [
          {
            "node": "CLAIM follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split por Instância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAUSA INSTÂNCIA": {
      "main": [
        [
          {
            "node": "Split por Instância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLAIM follow-up": {
      "main": [
        [
          {
            "node": "Tem follow-up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem follow-up?": {
      "main": [
        [
          {
            "node": "UNIFICA LEAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CLAIM rmkt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CLAIM rmkt": {
      "main": [
        [
          {
            "node": "Tem rmkt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem rmkt?": {
      "main": [
        [
          {
            "node": "UNIFICA LEAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split por Instância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UNIFICA LEAD": {
      "main": [
        [
          {
            "node": "ESCOLHE TEMPLATE v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ESCOLHE TEMPLATE v2": {
      "main": [
        [
          {
            "node": "Template liberado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template liberado?": {
      "main": [
        [
          {
            "node": "JITTER 30-90s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split por Instância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JITTER 30-90s": {
      "main": [
        [
          {
            "node": "Tem anexo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem anexo?": {
      "main": [
        [
          {
            "node": "SEND MEDIA EVO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SEND TEXT EVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND MEDIA EVO": {
      "main": [
        [
          {
            "node": "DETECTA FALHA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEND TEXT EVO": {
      "main": [
        [
          {
            "node": "DETECTA FALHA?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DETECTA FALHA?": {
      "main": [
        [
          {
            "node": "PAUSA instância (falha send)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REGISTRA ENVIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAUSA instância (falha send)": {
      "main": [
        [
          {
            "node": "Split por Instância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRA ENVIO": {
      "main": [
        [
          {
            "node": "LOG eventos_contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LOG eventos_contato": {
      "main": [
        [
          {
            "node": "Split por Instância",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "santa-flor-crm"
  },
  "tags": []
}
