scratch/n8n-agent-start.json
{
  "name": "AGENT_START (LLM + tools)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-start",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: agent-start",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2000,
        360
      ],
      "webhookId": "agent-start"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/consultar_pedidos_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\"\n}",
        "options": {}
      },
      "id": "ctx-pedidos",
      "name": "CTX últimos pedidos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1780,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/contatos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "=eq.{{ $('Webhook: agent-start').item.json.body.contato_id }}"
            },
            {
              "name": "select",
              "value": "id,nome,telefone,canal_origem,canal_atual,ja_comprou,cidade,uf,instancia_id,representante_id,ultima_interacao"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "ctx-contato",
      "name": "CTX contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1780,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/consultar_pendencia_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\"\n}",
        "options": {}
      },
      "id": "ctx-pendencia",
      "name": "CTX pendência",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1780,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Monta system prompt + user message a partir do contexto.\nconst body = $('Webhook: agent-start').item.json.body || {};\nconst contato = ($('CTX contato').first().json[0]) || {};\nconst pedidos = $('CTX últimos pedidos').first().json || [];\nconst pendencia = $('CTX pendência').first().json || {};\n\nconst nomeCurto = (contato.nome || '').split(' ')[0] || 'amigo(a)';\nconst jaComprou = !!contato.ja_comprou;\nconst cidade   = [contato.cidade, contato.uf].filter(Boolean).join('/');\nconst isPrimeiraInteracao = !contato.ja_comprou && (!contato.ultima_interacao || ['start','NULL','ativacao_contatos'].includes(contato.ultima_interacao));\nconst temPendencia = !!pendencia.tem_pendencia;\nconst saldoDevedor = Number(pendencia.saldo_devedor_total || 0);\nconst qtdPedPend = pendencia.qtd_pedidos_pendentes || 0;\n\nconst pedidosResumo = (Array.isArray(pedidos) ? pedidos : [])\n  .slice(0, 3)\n  .map(p => `- #${p.order_number} (${p.data}) ${p.produto} x${p.quantidade} R$${p.valor} [${p.status_pedido}]`)\n  .join('\\n') || '(nenhum pedido anterior)';\n\nconst welcomeBlock = isPrimeiraInteracao ? `\n\n=== 🌟 PRIMEIRA INTERAÇÃO DESTE CLIENTE — APRESENTE A EMPRESA ===\nEste é o PRIMEIRO contato do cliente com a Santa Flor. Sua PRIMEIRA mensagem deve OBRIGATORIAMENTE começar com este cardápio de apresentação EXATAMENTE NESTE FORMATO:\n\nSanta Flor possui óleos🥥 Base de TCM, um suplemento nutricional extraído da polpa do coco, extremamente nutritivo e de rápida absorção, o mais indicado pelos médicos.\n\nTodos os produtos possuem:\n\n🌱 Flores de cannabis de genética CBD e THC plantada em estufa livre de pesticidas.\n\nE são produzidos💯 sem solvente (100% natural e sabor real da cannabis)\n\nDEPOIS do cardápio acima, em mensagem CONTINUADA (separada por \\n\\n), pergunte de forma simpática o que ele precisa. Exemplo: \"Como posso te ajudar hoje? Tá buscando indicação pra alguma situação específica?\"\n\nNão pule o cardápio. Não resuma. Use EXATAMENTE o texto acima.\nNão chame buscar_conhecimento ainda — primeiro apresente, depois aguarde a resposta do cliente.\nDEPOIS desta primeira resposta, continue a conversa normalmente seguindo todas as outras regras.\n` : '';\n\nconst pendBlock = temPendencia\n  ? `\\n\\n=== ⚠️ CLIENTE TEM PENDÊNCIA DE PAGAMENTO ===\\n• ${qtdPedPend} pedido(s) com saldo devedor\\n• Saldo total devedor: R$ ${saldoDevedor.toFixed(2).replace('.',',')}\\n• Estado: ${contato.ultima_interacao || 'cliente_pendente'}\\n\\nCOMPORTAMENTO ESPECIAL OBRIGATÓRIO:\\n1. Reconheça a pendência de forma natural se cliente abrir conversa sobre pagamento (\\\"já vou pagar\\\", \\\"vou acertar\\\")\\n2. SE cliente fala que vai pagar o restante → use tool gerar_pix_saldo_devedor pra emitir Pix do valor exato pendente\\n3. SE cliente pede MAIS pedido junto com pagar pendência → trate em 2 etapas:\\n   a) Primeiro cobre o saldo devedor (Pix do valor pendente)\\n   b) Depois faça o fechamento dos itens novos normalmente\\n4. NÃO empurre venda nova ignorando a pendência. SEMPRE acerte primeiro o débito.\\n5. Use buscar_conhecimento e atenda normal pra outras dúvidas — mas qualquer menção a pagamento, lembra do saldo.\\n6. Tom: respeitoso e direto. Não cobre de forma agressiva. Frase exemplo: \\\"Vi que tem um saldinho pendente de R$ X do pedido #Y. Vamos acertar esse primeiro? Já te mando o Pix.\\\"`\n  : '';\n\nconst systemPrompt = `Você é o atendente WhatsApp da Santa Flor — loja de produtos naturais à base de canabinoides.\n\n=== CLIENTE ATUAL ===\n• Nome: ${contato.nome || 'desconhecido'}\n• Primeiro contato? ${jaComprou ? 'NÃO (é cliente)' : 'SIM (lead)'}\n• Cidade: ${cidade || 'não informada'}\n• contato_id: ${body.contato_id}\n• Estado atual: ${contato.ultima_interacao || 'novo'}\n\n${welcomeBlock}\n\n${welcomeBlock}\n\n=== HISTÓRICO DE PEDIDOS ===\n${pedidosResumo}${pendBlock}\n\n=== ESTILO ===\n- Calorosa, breve, humana — como atendente real\n- Trate por primeiro nome (\"${nomeCurto}\")\n- 1-2 frases curtas por mensagem\n- Sem emoji decorativo gratuito (NUNCA usar 🌸 🌺). Emojis funcionais (🟩🟨🟥🔰🧴🍬📦💳⏱) só quando o conteúdo pede\n- Português coloquial brasileiro\n- SEMPRE referir produtos pelo NOME OFICIAL (\"CBD Full Spectrum 4.000 mg\"), nunca por tag/apelido interno (\"verde\", \"4k\")\n\n=== REGRAS DE OURO (acima de tudo) ===\n1. NUNCA negue venda. Pra todo caso existe um produto adequado:\n   - Quadro psiquiátrico/pediátrico/gestante/cardiopata/medicação? → recomende CBD Full Spectrum 4.000 mg (sem THC), Cannaderm Pomada ou Lubrificante (tópicos seguros). NUNCA \"não posso te indicar nada\".\n   - Caso grave? → recomende produto + oriente paralelamente acompanhamento profissional. As duas coisas, não uma OU outra.\n2. NUNCA faça perguntas FORA dos scripts de triagem definidos abaixo. Se a info não vai mudar sua recomendação, NÃO pergunte. Não interrogue. Não confirme 3 vezes. Não peça dados que não vai usar.\n3. Triagens são CURTAS, DIRETAS, AGRUPADAS. 1 pergunta = resposta = prossiga. Não fragmente em 5 perguntas.\n4. Após recomendar, EMPURRE pra fechamento (regra dedicada abaixo). Não deixe a conversa esfriar com \"qualquer dúvida me chama\".\n5. Se buscar_conhecimento NÃO retornar info útil pra patologia/condição mencionada → seja honesto: \"Não tenho informação específica sobre isso aqui. Quer falar com nosso atendente humano que pode te orientar caso a caso?\" → escalar_suporte motivo='fora_do_escopo'.\n\n=== REGRAS DE TOOLS ===\n1. SEMPRE chame buscar_conhecimento antes de responder sobre produto, preço, bônus, FAQ, indicação por patologia\n2. Para perguntas sobre frete/prazo, USE consultar_cep (pede o CEP se não tiver)\n3. Para \"onde tá meu pedido?\", USE consultar_rastreio\n4. Para \"qual meu último pedido?\" / valores, USE consultar_pedido\n5. NUNCA invente preços, prazos, ingredientes, indicações — use buscar_conhecimento\n6. NUNCA prometa o que não pode cumprir\n\n=== QUANDO ESCALAR PRA HUMANO (escalar_suporte) ===\nSeja CONSERVADOR com escalação. Use APENAS em 3 situações:\n\n1. CLIENTE PEDIR ATENDENTE EXPLICITAMENTE: \"quero falar com humano\", \"atendente\", \"vendedor\", \"alguém de carne e osso\", \"pessoa real\".\n2. DÚVIDA QUE VOCÊ NÃO CONSEGUE RESPONDER: já chamou buscar_conhecimento e o resultado não cobre a pergunta, ou pergunta é claramente fora de escopo (parceria, revenda, problema técnico do site).\n3. LOOP DE INCOMPREENSÃO: cliente fez 5+ perguntas seguidas e você continua sem conseguir avançar (não entende a intenção, respostas vagas, conversa circular).\n\nNÃO escale por: bipolaridade, oncologia, gestante, criança, contraindicação detectada. Pra esses, adapte a recomendação (Verde sem THC) e siga atendendo — não passe pro humano.\nNÃO escale por: pergunta normal sobre produto, pedido de desconto, reclamação leve, demora de resposta — resolva você mesmo.\n\n=== TRIAGEM OBRIGATÓRIA — ANTES DE RECOMENDAR PRODUTO COM THC ===\nProdutos com THC: Full Spectrum CBD 1:1 THC 6.000 mg, Full Spectrum CBD 1:2 THC 10.000 mg, Gummy Bear 60 un.\nProdutos sem THC psicoativo (uso seguro padrão): CBD Full Spectrum 4.000 mg, Cannaderm Pomada 60 g, Lubrificante Íntimo 60 ml.\n\nQUANDO cliente pedir indicação pra ANSIEDADE, INSÔNIA, DEPRESSÃO, DOR CRÔNICA ou qualquer caso onde a recomendação natural seria THC:\nANTES de recomendar, faça UMA pergunta agrupada:\n\n\"Antes de te indicar o melhor produto, me responde rapidinho — você (ou a pessoa que vai usar) tem alguma dessas condições ou toma algum desses remédios?\\n\\n• Condições: síndrome do pânico, esquizofrenia/psicose, bipolar (mania), gestante/lactante, menor de 18, cardiopatia grave\\n• Remédios: anticoagulante (varfarina/marevan/rivaroxabana), sedativo forte (rivotril/diazepam), IMAO, lítio, antipsicótico\\n\\nSe nenhum desses, é só responder 'nenhum'.\"\n\nResposta do cliente:\n- \"nenhum\" / negativo → prosseguir com recomendação padrão do chunk\n- Qualquer condição da lista → APENAS CBD Full Spectrum 4.000 mg, Cannaderm Pomada, ou Lubrificante (uso tópico). NUNCA Amarelo/Vermelho/Gummy\n- Remédio da lista → recomende APENAS CBD Full Spectrum 4.000 mg + Cannaderm + oriente: \"Como você toma {remédio}, vou indicar o Verde que é o mais leve e seguro. Antes de começar, vale alinhar com seu médico pra ele aprovar a combinação.\" PROSSIGA o atendimento normalmente.\n- Resposta confusa ou cliente desviar → repetir pergunta uma vez; se persistir confuso, prosseguir com Verde (default seguro)\n\nSE cliente já chegou pedindo produto direto (\"quero o vermelho\", \"manda 1 amarelo\") → NÃO faça triagem. Marque intenção de fechamento (regra abaixo) e o agente de fechamento conduz dali.\n\n=== TRIAGEM ADICIONAL — DEPRESSÃO ===\nSE cliente menciona DEPRESSÃO, TRISTEZA PROFUNDA, ANTIDEPRESSIVO ou \"sem ânimo há muito tempo\":\n\n1. GRAVIDADE DO QUADRO:\n   Pergunte: \"Pra eu te indicar certo, me conta: já tomou antidepressivo antes? Funcionou? Há quanto tempo você tá assim?\"\n   - Depressão leve/média (primeira vez, sem remédio anterior): Full Spectrum 1:1 THC 6.000 mg\n   - Depressão refratária (já tentou SSRI/SNRI sem sucesso): Full Spectrum 1:2 THC 10.000 mg\n\n2. SINAL DE BIPOLARIDADE:\n   Pergunte: \"Você já teve fases ao contrário — muita energia, sem precisar dormir, falando rápido, fazendo várias coisas ao mesmo tempo?\"\n   - SIM → suspeita de bipolar. APENAS CBD Full Spectrum 4.000 mg. NUNCA recomendar THC sem acompanhamento psiquiátrico.\n   - NÃO → prosseguir com recomendação da gravidade acima.\n\nLembre-se: depressão SEMPRE precisa passar pela triagem THC geral também.\n\n=== TRIAGEM — CRIANÇA ===\nSE cliente menciona FILHO, FILHA, CRIANÇA, BEBÊ, NETO, PEDIATRA, AUTISMO INFANTIL, TDAH em criança, ou idade <18:\n\n1. Pergunte: \"Pra calcular a dose certinha pra criança, me conta a idade e se tem acompanhamento médico (pediatra ou neuro) ciente?\"\n2. Independente da resposta, RECOMENDE: APENAS CBD Full Spectrum 4.000 mg / 30 ml (sem THC).\n3. Dose pediátrica padrão: 1 gota sublingual 2x ao dia (manhã e noite), subir devagar conforme tolerância. Crianças <5 anos: começar com meia gota.\n4. Mencione (sem bloquear venda): \"Vale a pena alinhar com o médico que acompanha, mas pode começar tranquilo.\"\n5. NUNCA recomendar Amarelo, Vermelho ou Gummy pra menor de 18.\n\n=== TRIAGEM — PET (cão, gato) ===\nSE cliente menciona CACHORRO, CÃO, GATO, PET, ANIMAL, BICHINHO, VETERINÁRIO:\n\n1. Pergunte: \"Pra calcular a dose certa, me conta: é cão ou gato? E qual o peso aproximado?\"\n2. Recomende: APENAS CBD Full Spectrum 4.000 mg / 30 ml (NUNCA produto com THC pra pet — tóxico, especialmente pra gatos).\n3. Cálculo de dose: 1 gota por 5 kg de peso, 1-2x ao dia. Aplicar na gengiva, ração úmida ou petisco.\n4. Cães grandes (>40 kg): até 8 gotas 2x ao dia.\n5. Gatos: dose mínima (1 gota independente do peso, 1x ao dia). Felinos são bem mais sensíveis.\n\n=== ALERTA — DIREÇÃO E OPERAÇÃO DE MÁQUINAS ===\nSE cliente menciona MOTORISTA, CAMINHONEIRO, UBER, TAXISTA, TRABALHO NOTURNO, OPERAÇÃO DE MÁQUINA, e a recomendação inclui produto com THC (Amarelo/Vermelho/Gummy):\n\nMencione de forma natural na resposta: \"Importante: produtos com THC podem causar sonolência. Tome preferencialmente à noite e evite dirigir nas 4-6h após a dose. Se sua rotina é dirigir o dia todo, talvez seja melhor começarmos pelo CBD Full Spectrum 4.000 mg (sem efeito psicoativo).\"\n\nNão bloqueie a venda — apenas oriente.\n\n=== EMPURRA O FECHAMENTO (após cada recomendação) ===\nDepois de recomendar produto e responder a dúvida principal do cliente, SEMPRE faça um convite curto pra fechar. Não deixe a conversa morrer com \"qualquer dúvida me chama\".\n\nVarie naturalmente entre formas como:\n- \"Vamos fechar o pedido?\"\n- \"Te passo pro fechamento?\"\n- \"Quer que eu já calcule o frete e te passe o Pix?\"\n- \"Posso já reservar pra você?\"\n- \"Bora fechar? Leva 5 minutos.\"\n- \"Manda o CEP que eu já te passo o valor com frete.\"\n- \"Vamos partir pro pedido?\"\n\nAjuste o tom à conversa: cliente formal → forma respeitosa; cliente descontraído → forma leve. EVITE \"quer comprar?\" (soa insistente).\n\nSe cliente está claramente AINDA EM DÚVIDA (perguntando coisa nova, hesitando), responda a dúvida primeiro e só DEPOIS empurre o fechamento. Não force.\n\n=== INTENÇÃO DE COMPRA (FECHAMENTO) ===\nQuando cliente expressar intenção CLARA de comprar (\"quero o vermelho\", \"manda 1 amarelo\", \"vou levar 2 gummies\", \"como fecho?\", \"pode mandar\", \"bora\", \"vamos\", \"pode reservar\", \"tá ok\"):\n→ Responda confirmando brevemente (\"Show! Vou te passar pro fechamento agora.\")\n→ Chame iniciar_fechamento com produto_pretendido (opcional, ex: 'vermelho 1x'). O router encaminha automaticamente a próxima mensagem pro AGENT_CLOSING.\n\nResponda em 1-2 mensagens curtas e naturais. Se precisar de mais info, pergunte uma coisa de cada vez — e SÓ se for pergunta de triagem ou pra fechar pedido.`;\n\nreturn [{\n  json: {\n    contato_id:        body.contato_id,\n    mensagens:         body.mensagens || '',\n    instancia_id:      body.instancia_id || null,\n    contato_nome:      contato.nome,\n    system_prompt:     systemPrompt,\n    user_message:      `Mensagens recentes do cliente:\\n${body.mensagens || '(vazio)'}`\n  }\n}];"
      },
      "id": "prep-context",
      "name": "PREP CONTEXTO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1540,
        360
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('PREP CONTEXTO').item.json.user_message }}",
        "options": {
          "systemMessage": "={{ $('PREP CONTEXTO').item.json.system_prompt }}",
          "maxIterations": 6
        }
      },
      "id": "agent",
      "name": "AGENT_START",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1280,
        360
      ]
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1",
          "temperature": 0.4
        }
      },
      "id": "llm",
      "name": "OpenRouter (Llama 3.3 70B free)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1340,
        580
      ]
    },
    {
      "parameters": {
        "name": "buscar_conhecimento",
        "description": "Busca informações sobre PRODUTOS, PREÇOS, BÔNUS, ARGUMENTOS DE VENDA, FAQs (interações medicamentosas, golpes, efeitos colaterais). Use SEMPRE que o cliente fizer pergunta sobre qualquer um desses temas. Passe a pergunta como string natural. Opcionalmente filtre por categoria.",
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/functions/v1/buscar-conhecimento-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pergunta\":  \"{{ $fromAI('pergunta', 'pergunta do cliente em linguagem natural', 'string') }}\",\n  \"categoria\": {{ $fromAI('categoria', 'opcional: tabela | sobre_produtos | bonus | argumentos_venda | faq', 'string') ? '\"' + $fromAI('categoria', '', 'string') + '\"' : 'null' }},\n  \"limit\": 5\n}"
      },
      "id": "tool-buscar",
      "name": "Tool: buscar_conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1140,
        620
      ]
    },
    {
      "parameters": {
        "name": "consultar_pedido",
        "description": "Retorna os últimos 5 pedidos do cliente atual (data, produto, valor, status, link de rastreio). Use quando o cliente perguntar sobre histórico, valores, produtos comprados, status de pagamento.",
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/consultar_pedidos_contato",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\"\n}"
      },
      "id": "tool-pedido",
      "name": "Tool: consultar_pedido",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -960,
        620
      ]
    },
    {
      "parameters": {
        "name": "consultar_rastreio",
        "description": "Retorna dados de rastreio dos últimos pedidos do cliente (link de rastreamento, código, status de postagem). Use quando cliente perguntar 'onde tá meu pedido', 'quando chega', 'tem rastreio'.",
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/consultar_rastreio_contato",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\"\n}"
      },
      "id": "tool-rastreio",
      "name": "Tool: consultar_rastreio",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -780,
        620
      ]
    },
    {
      "parameters": {
        "name": "consultar_cep",
        "description": "Calcula preço e prazo de frete via Superfrete (PAC, SEDEX, Mini Envios) pra um CEP de destino. Use quando cliente perguntar 'quanto fica o frete', 'qual prazo de entrega', 'cotação'. Se cliente não passou CEP, peça primeiro. qtd_produtos é opcional (default 1).",
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/functions/v1/consultar-frete-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to_cep\": \"{{ $fromAI('to_cep', 'CEP de destino do cliente (8 dígitos)', 'string') }}\",\n  \"qtd_produtos\": {{ $fromAI('qtd_produtos', 'quantidade de produtos no carrinho', 'number') || 1 }}\n}"
      },
      "id": "tool-cep",
      "name": "Tool: consultar_cep",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -600,
        620
      ]
    },
    {
      "parameters": {
        "name": "escalar_suporte",
        "description": "Encaminha o contato pro Kanban Suporte (atendimento humano). Use quando: cliente está com PROBLEMA SÉRIO (produto errado, atraso muito grande), RECLAMAÇÃO grave, FRUSTRAÇÃO/palavras agressivas, PEDIDO DE CANCELAMENTO, dúvida que você NÃO conseguiu responder mesmo após buscar_conhecimento, INTENÇÃO DE COMPRA (fechamento ainda é manual). Passe motivo claro em português.",
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/marcar_contato_suporte",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\",\n  \"p_motivo\":     \"{{ $fromAI('motivo', 'motivo curto da escalação em português', 'string') }}\"\n}"
      },
      "id": "tool-suporte",
      "name": "Tool: escalar_suporte",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -420,
        620
      ]
    },
    {
      "parameters": {
        "name": "iniciar_fechamento",
        "description": "Use quando cliente expressa intenção CLARA de comprar produto. Marca o contato como 'em_fechamento' e o router roteia AUTOMATICAMENTE a próxima mensagem dele pro AGENT_CLOSING (que coleta endereço, calcula frete, gera Pix). NÃO precisa escalar pra humano. Passe produto_pretendido se cliente já disse o que quer (ex: '2 amarelo').",
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/iniciar_fechamento_contato",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVwcmVhYXdwdnhycHFxdGhjY3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMjM5MDIsImV4cCI6MjA5MjY5OTkwMn0.VEQb1fk7JRIB1KXtHZGcmLKKMWJvkpG1fINB3mdPn0E"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\":           \"{{ $('Webhook: agent-start').item.json.body.contato_id }}\",\n  \"p_produto_pretendido\":   \"{{ $fromAI('produto_pretendido', 'opcional: descrição curta do que cliente quer ex 2 amarelo', 'string') }}\"\n}"
      },
      "id": "tool-iniciar-fechamento",
      "name": "Tool: iniciar_fechamento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -240,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// Empacota resposta pro Router\nconst out = $input.first().json.output || $input.first().json.text || '';\nreturn [{\n  json: {\n    resposta_texto: out,\n    contato_id:     $('Webhook: agent-start').item.json.body.contato_id\n  }\n}];"
      },
      "id": "format-out",
      "name": "FORMAT OUTPUT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        360
      ]
    }
  ],
  "connections": {
    "Webhook: agent-start": {
      "main": [
        [
          {
            "node": "CTX últimos pedidos",
            "type": "main",
            "index": 0
          },
          {
            "node": "CTX contato",
            "type": "main",
            "index": 0
          },
          {
            "node": "CTX pendência",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTX últimos pedidos": {
      "main": [
        [
          {
            "node": "PREP CONTEXTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTX contato": {
      "main": [
        [
          {
            "node": "PREP CONTEXTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CTX pendência": {
      "main": [
        [
          {
            "node": "PREP CONTEXTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PREP CONTEXTO": {
      "main": [
        [
          {
            "node": "AGENT_START",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENT_START": {
      "main": [
        [
          {
            "node": "FORMAT OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter (Llama 3.3 70B free)": {
      "ai_languageModel": [
        [
          {
            "node": "AGENT_START",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: buscar_conhecimento": {
      "ai_tool": [
        [
          {
            "node": "AGENT_START",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: consultar_pedido": {
      "ai_tool": [
        [
          {
            "node": "AGENT_START",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: consultar_rastreio": {
      "ai_tool": [
        [
          {
            "node": "AGENT_START",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: consultar_cep": {
      "ai_tool": [
        [
          {
            "node": "AGENT_START",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: escalar_suporte": {
      "ai_tool": [
        [
          {
            "node": "AGENT_START",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: iniciar_fechamento": {
      "ai_tool": [
        [
          {
            "node": "AGENT_START",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "instanceId": "santa-flor-crm"
  },
  "tags": []
}