scratch/n8n-agent-closing.json
{
  "name": "AGENT_CLOSING (LLM + tools de fechamento)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-closing",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook: agent-closing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2000, 360],
      "webhookId": "agent-closing"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/contatos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "id",     "value": "=eq.{{ $('Webhook: agent-closing').item.json.body.contato_id }}" },
            { "name": "select", "value": "id,nome,telefone,canal_origem,ja_comprou,cep,rua,numero,complemento,bairro,cidade,uf,instancia_id" },
            { "name": "limit",  "value": "1" }
          ]
        },
        "options": {}
      },
      "id": "ctx-contato",
      "name": "CTX contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1780, 250]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/produtos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "ativo",  "value": "eq.true" },
            { "name": "select", "value": "slug,nome_oficial,emoji,preco,posologia,ordem" },
            { "name": "order",  "value": "ordem.asc,nome_oficial.asc" }
          ]
        },
        "options": {}
      },
      "id": "ctx-catalogo",
      "name": "CTX catálogo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1780, 470]
    },
    {
      "parameters": {
        "jsCode": "// Monta system prompt do AGENT_CLOSING com catálogo, endereço atual e state machine.\nconst body = $('Webhook: agent-closing').item.json.body || {};\nconst contato = ($('CTX contato').first().json[0]) || {};\nconst catalogo = $('CTX catálogo').first().json || [];\nconst nomeCurto = (contato.nome || '').split(' ')[0] || 'amigo(a)';\n\n// Catálogo formatado\nconst linhasCatalogo = catalogo\n  .map(p => `${p.emoji || '•'} ${p.nome_oficial} — R$ ${Number(p.preco).toFixed(0)}  [slug interno: ${p.slug || '?'}]`)\n  .join('\\n');\n\nconst temEndereco = contato.cep && contato.rua && contato.numero && contato.uf;\nconst endFormat = temEndereco\n  ? `📮 CEP: ${contato.cep}\\n🏠 ${contato.rua}, ${contato.numero}${contato.complemento ? ' — ' + contato.complemento : ''}\\n🏘 ${contato.bairro || ''} — ${contato.cidade}/${contato.uf}`\n  : '(endereço NÃO cadastrado — precisa coletar)';\n\nconst systemPrompt = `Você é o agente de FECHAMENTO da Santa Flor 🌸. Sua missão é fechar o pedido com Pix de forma natural, segura e rápida.\n\n=== CLIENTE ===\n• Nome: ${contato.nome || 'desconhecido'}  (usar primeiro nome: \"${nomeCurto}\")\n• Já comprou antes? ${contato.ja_comprou ? 'SIM' : 'NÃO'}\n• contato_id: ${body.contato_id}\n• instancia_id: ${body.instancia_id || contato.instancia_id}\n\n=== ENDEREÇO ATUAL ===\n${endFormat}\n\n=== CATÁLOGO (use slug interno em tools, mostre nome_oficial+emoji ao cliente) ===\n${linhasCatalogo}\n\n=== REGRAS DE BÔNUS (escala fixa, NÃO cumulativo) ===\n• 1 produto       → cliente paga frete, sem brinde\n• 2 ou 3 produtos → FRETE GRÁTIS Sedex (cliente NÃO escolhe modalidade)\n• 4 a 7 produtos  → 1 brinde de produto + cliente paga frete (escolhe modalidade)\n• 8+ produtos     → 2 brindes de produto + cliente paga frete (escolhe modalidade)\n\n=== STATE MACHINE (siga em ordem) ===\nESTADO 1 — ENDEREÇO\n${temEndereco\n  ? `  Endereço já cadastrado. Confirme com o cliente:\\n  \"Confere se o endereço continua o mesmo?\\n${endFormat}\\n1 = sim   |   2 = quero atualizar\"\\n  Se 2 → pedir CEP, depois consultar_cep, depois pedir número+complemento, depois salvar_endereco.`\n  : '  Sem endereço. Peça CEP → consultar_cep → pedir número+complemento → salvar_endereco.'}\n\nESTADO 2 — PEDIDO\n  Se cliente já citou produtos na mensagem, identifique os SLUGS internos.\n  Caso contrário, peça: \"me passa seu pedido (produto + unidades)\". Exemplo: \"1 verde, 2 pomada\".\n\nESTADO 3 — CÁLCULO E EXIBIÇÃO\n  Chame calcular_pedido com itens=[{slug, qtd}].\n  • Se retornar pendencias=['endereco'] → volta ao ESTADO 1.\n  • Se retornar pendencias=['escolher_modalidade_frete'] → mostra as modalidades disponíveis ao cliente: \"📦 PAC R$X (X-X dias) | MINI R$X | SEDEX R$X — qual prefere?\". Depois chame calcular_pedido de novo com modalidade_frete_escolhida.\n  • Se retornar pendencias=['escolher_brinde'] → diga \"Você ganha {N} brinde(s)! Escolha do catálogo (use o nome).\" Depois chame calcular_pedido com brindes_slugs.\n  • Quando NÃO houver pendencias → mostre o resumo_formatado completo + \"Está correto? 1 = pagar com PIX | 2 = ajustar\".\n\nESTADO 4 — PAGAMENTO\n  Quando o cliente confirmar (1), chame gerar_pix_deflow com o pedido_em_aberto_id.\n  Envie: \"Aqui está seu PIX 💚\\n\\n[copia-cola]\\n\\nVai expirar em 24h. Assim que cair, te aviso!\"\n\nESTADO 5 — ENCERRAMENTO\n  Após enviar PIX, você ENCERROU. Não fique fazendo upsell nem perguntando mais nada.\n\n=== RETROCESSO (a qualquer momento) ===\n• Cliente pergunta algo NOVO sobre produto/segurança/dúvida → chame buscar_conhecimento → responda → pergunte \"Quer continuar o fechamento?\"\n• Cliente diz \"deixa pra depois\", \"mudei de ideia\", \"vou pensar\" → chame retroceder_estagio com motivo='desistencia_cliente'. Responda \"Sem pressa, qualquer coisa é só chamar 🌸\".\n• Cliente reclama, palavrão, irritação séria → chame retroceder_estagio com motivo='irritacao' (atendente humano cuida depois).\n\n=== ESTILO ===\n- Calorosa, breve, direto ao ponto\n- 1-2 frases por mensagem\n- 1 emoji 🌸 no máximo (além dos emojis de produto/frete/PIX da formatação)\n- NUNCA invente preço, prazo, bônus — use as tools\n- NUNCA mostre slug ao cliente, só nome_oficial+emoji\n\nResponda agora ao cliente.`;\n\nreturn [{\n  json: {\n    contato_id:    body.contato_id,\n    instancia_id:  body.instancia_id || contato.instancia_id,\n    mensagens:     body.mensagens || '',\n    system_prompt: systemPrompt,\n    user_message:  `Mensagens recentes do cliente:\\n${body.mensagens || '(vazio)'}`\n  }\n}];"
      },
      "id": "prep-context",
      "name": "PREP CONTEXTO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1540, 360]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('PREP CONTEXTO').item.json.user_message }}",
        "options": {
          "systemMessage": "={{ $('PREP CONTEXTO').item.json.system_prompt }}",
          "maxIterations": 8
        }
      },
      "id": "agent",
      "name": "AGENT_CLOSING",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [-1280, 360]
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.3-70b-instruct:free",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1",
          "temperature": 0.3
        }
      },
      "id": "llm",
      "name": "OpenRouter (Llama 3.3 70B free)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [-1340, 580],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "name": "buscar_conhecimento",
        "description": "Busca RAG semântico para responder dúvidas pontuais do cliente DURANTE o fechamento (interações medicamentosas, modo de uso, ingredientes, segurança). NÃO use para preço/catálogo — você já tem na system prompt.",
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/functions/v1/buscar-conhecimento-agent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey",       "value": "REPLACE_WITH_SUPABASE_ANON_KEY" },
            { "name": "Authorization","value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pergunta\": \"{{ $fromAI('pergunta', 'pergunta do cliente em linguagem natural', 'string') }}\",\n  \"categoria\": \"faq\",\n  \"limit\": 5\n}"
      },
      "id": "tool-buscar",
      "name": "Tool: buscar_conhecimento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-1180, 660]
    },
    {
      "parameters": {
        "name": "consultar_cep",
        "description": "Consulta ViaCEP. Use APENAS pra preencher rua/bairro/cidade/uf a partir do CEP que o cliente digitou. Retorna { cep, rua, bairro, cidade, uf }. Não calcula frete.",
        "method": "GET",
        "url": "=https://viacep.com.br/ws/{{ $fromAI('cep', 'CEP 8 dígitos sem hífen', 'string') }}/json/"
      },
      "id": "tool-cep",
      "name": "Tool: consultar_cep",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-1000, 660]
    },
    {
      "parameters": {
        "name": "salvar_endereco",
        "description": "Persiste o endereço completo do contato no banco. Chame APÓS o cliente confirmar todos os campos (cep, rua, numero, complemento opcional, bairro, cidade, uf).",
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/upsert_endereco_contato",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey",       "value": "REPLACE_WITH_SUPABASE_ANON_KEY" },
            { "name": "Authorization","value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\":  \"{{ $('Webhook: agent-closing').item.json.body.contato_id }}\",\n  \"p_cep\":         \"{{ $fromAI('cep', 'CEP só dígitos', 'string') }}\",\n  \"p_rua\":         \"{{ $fromAI('rua', 'logradouro', 'string') }}\",\n  \"p_numero\":      \"{{ $fromAI('numero', 'número da residência (texto)', 'string') }}\",\n  \"p_complemento\": \"{{ $fromAI('complemento', 'apto/bloco/casa (opcional, string vazia se nada)', 'string') }}\",\n  \"p_bairro\":      \"{{ $fromAI('bairro', 'bairro', 'string') }}\",\n  \"p_cidade\":      \"{{ $fromAI('cidade', 'cidade', 'string') }}\",\n  \"p_uf\":          \"{{ $fromAI('uf', 'UF 2 letras', 'string') }}\"\n}"
      },
      "id": "tool-salvar-end",
      "name": "Tool: salvar_endereco",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-820, 660]
    },
    {
      "parameters": {
        "name": "calcular_pedido",
        "description": "Calcula preço final, frete (via Superfrete), aplica regra de bônus e cria pedido_em_aberto. Retorna resumo formatado + pedido_em_aberto_id. Use sempre que tiver os itens definidos. Itens é um array [{slug, qtd}]. modalidade_frete_escolhida só quando NÃO for frete grátis (qtd>=2 e <4 = sempre grátis). brindes_slugs só quando qtd>=4. Se retornar pendencias, atenda-as antes de prosseguir.",
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/functions/v1/calcular-pedido",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contato_id\": \"{{ $('Webhook: agent-closing').item.json.body.contato_id }}\",\n  \"instancia_id\": \"{{ $('PREP CONTEXTO').item.json.instancia_id }}\",\n  \"itens\": {{ $fromAI('itens_json', 'JSON array de itens, ex: [{\"slug\":\"verde\",\"qtd\":2},{\"slug\":\"pomada\",\"qtd\":1}]', 'string') }},\n  \"brindes_slugs\": {{ $fromAI('brindes_json', 'JSON array de slugs de brindes escolhidos (opcional, [] se não tem)', 'string') || '[]' }},\n  \"modalidade_frete_escolhida\": \"{{ $fromAI('modalidade', 'PAC|MINI|SEDEX (opcional, só quando cliente paga frete)', 'string') }}\"\n}"
      },
      "id": "tool-calcular",
      "name": "Tool: calcular_pedido",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-640, 660]
    },
    {
      "parameters": {
        "name": "gerar_pix_deflow",
        "description": "Gera o Pix DeFlow para o pedido_em_aberto criado por calcular_pedido. Chame APÓS o cliente confirmar o resumo (resposta = 1). Retorna copia-cola pronto pra enviar. Atualmente em modo STUB (key DeFlow ainda não liberada) — o copia-cola é fake mas o fluxo roda ponta a ponta.",
        "method": "POST",
        "url": "https://epreaawpvxrpqqthcczu.supabase.co/functions/v1/gerar-pix-deflow",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Authorization", "value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pedido_em_aberto_id\": \"{{ $fromAI('pedido_em_aberto_id', 'uuid retornado por calcular_pedido', 'string') }}\"\n}"
      },
      "id": "tool-pix",
      "name": "Tool: gerar_pix_deflow",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-460, 660]
    },
    {
      "parameters": {
        "name": "retroceder_estagio",
        "description": "Cancela o fechamento e devolve o contato ao funil. Use quando cliente: (a) desistir explicitamente — 'deixa pra depois', 'mudei de ideia', 'vou pensar', (b) demonstrar irritação séria ou palavrão, (c) pedir explicitamente atendente humano. Cancela o pedido_em_aberto e seta ultima_interacao apropriada.",
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/retroceder_contato",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey",       "value": "REPLACE_WITH_SUPABASE_ANON_KEY" },
            { "name": "Authorization","value": "Bearer REPLACE_WITH_SUPABASE_ANON_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\":   \"{{ $('Webhook: agent-closing').item.json.body.contato_id }}\",\n  \"p_motivo\":       \"{{ $fromAI('motivo', 'motivo curto em português (desistencia_cliente|irritacao|pedido_humano)', 'string') }}\",\n  \"p_novo_estado\":  \"{{ $fromAI('novo_estado', 'opcional: wait_follow_up | cliente | suporte. Padrão é decidido por ja_comprou.', 'string') }}\"\n}"
      },
      "id": "tool-retroceder",
      "name": "Tool: retroceder_estagio",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [-280, 660]
    },
    {
      "parameters": {
        "jsCode": "const out = $input.first().json.output || $input.first().json.text || '';\nreturn [{\n  json: {\n    resposta_texto: out,\n    contato_id:     $('Webhook: agent-closing').item.json.body.contato_id\n  }\n}];"
      },
      "id": "format-out",
      "name": "FORMAT OUTPUT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-1040, 360]
    }
  ],
  "connections": {
    "Webhook: agent-closing": {
      "main": [
        [
          { "node": "CTX contato",  "type": "main", "index": 0 },
          { "node": "CTX catálogo", "type": "main", "index": 0 }
        ]
      ]
    },
    "CTX contato":   { "main": [[ { "node": "PREP CONTEXTO", "type": "main", "index": 0 } ]] },
    "CTX catálogo":  { "main": [[ { "node": "PREP CONTEXTO", "type": "main", "index": 0 } ]] },
    "PREP CONTEXTO": { "main": [[ { "node": "AGENT_CLOSING", "type": "main", "index": 0 } ]] },
    "AGENT_CLOSING": { "main": [[ { "node": "FORMAT OUTPUT", "type": "main", "index": 0 } ]] },

    "OpenRouter (Llama 3.3 70B free)": {
      "ai_languageModel": [[ { "node": "AGENT_CLOSING", "type": "ai_languageModel", "index": 0 } ]]
    },
    "Tool: buscar_conhecimento": { "ai_tool": [[ { "node": "AGENT_CLOSING", "type": "ai_tool", "index": 0 } ]] },
    "Tool: consultar_cep":       { "ai_tool": [[ { "node": "AGENT_CLOSING", "type": "ai_tool", "index": 0 } ]] },
    "Tool: salvar_endereco":     { "ai_tool": [[ { "node": "AGENT_CLOSING", "type": "ai_tool", "index": 0 } ]] },
    "Tool: calcular_pedido":     { "ai_tool": [[ { "node": "AGENT_CLOSING", "type": "ai_tool", "index": 0 } ]] },
    "Tool: gerar_pix_deflow":    { "ai_tool": [[ { "node": "AGENT_CLOSING", "type": "ai_tool", "index": 0 } ]] },
    "Tool: retroceder_estagio":  { "ai_tool": [[ { "node": "AGENT_CLOSING", "type": "ai_tool", "index": 0 } ]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "instanceId": "santa-flor-crm" },
  "tags": []
}
