scratch/n8n-router-workflow.json
{
  "name": "Router (Evolution Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "router-evolution",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-2200, 400],
      "webhookId": "router-evolution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "instancia_nome", "value": "={{ $json.body?.instance || $json.instance }}", "type": "string" },
            { "id": "2", "name": "telefone_raw", "value": "={{ $json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '' }}", "type": "string" },
            { "id": "3", "name": "telefone_clean", "value": "={{ ($json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '').replace(/\\D/g, '').replace(/^55(\\d{10,11})$/, '55$1') }}", "type": "string" },
            { "id": "4", "name": "from_me", "value": "={{ $json.body?.data?.key?.fromMe || $json.data?.key?.fromMe || false }}", "type": "boolean" },
            { "id": "5", "name": "msg_text", "value": "={{ $json.body?.data?.message?.conversation || $json.body?.data?.message?.extendedTextMessage?.text || $json.data?.message?.conversation || $json.data?.message?.extendedTextMessage?.text || '' }}", "type": "string" },
            { "id": "6", "name": "message_type", "value": "={{ Object.keys($json.body?.data?.message || $json.data?.message || {})[0] || 'unknown' }}", "type": "string" },
            { "id": "7", "name": "push_name", "value": "={{ $json.body?.data?.pushName || $json.data?.pushName || '' }}", "type": "string" },
            { "id": "8", "name": "msg_id", "value": "={{ $json.body?.data?.key?.id || $json.data?.key?.id || '' }}", "type": "string" },
            { "id": "9", "name": "ctwa_source_id", "value": "={{ $json.body?.data?.message?.messageContextInfo?.ctwaContext?.sourceId || $json.data?.message?.messageContextInfo?.ctwaContext?.sourceId || null }}", "type": "string" },
            { "id": "10", "name": "ctwa_source_url", "value": "={{ $json.body?.data?.message?.messageContextInfo?.ctwaContext?.sourceUrl || $json.data?.message?.messageContextInfo?.ctwaContext?.sourceUrl || null }}", "type": "string" },
            { "id": "11", "name": "instancia_uuid", "value": "={{ ({'Instancia1': '422e72a5-a9a8-4025-a3ad-6a4113d60f23', 'ADS': '11f90953-04e4-472b-a49b-9b495e44e779'})[$json.body?.instance || $json.instance] || null }}", "type": "string" },
            { "id": "12", "name": "evolution_apikey", "value": "REPLACE_ME_PER_INSTANCE_BELOW", "type": "string" },
            { "id": "13", "name": "evolution_base_url", "value": "https://evo.melhorgestao.online", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "extract-fields",
      "name": "EXTRAI CAMPOS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1980, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "valid-type",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "conversation,extendedTextMessage,audioMessage,imageMessage,videoMessage,documentMessage",
              "operator": { "type": "string", "operation": "contains", "rightType": "any" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-types",
      "name": "TIPO ACEITO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1760, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ignored\",\"reason\":\"unsupported_message_type\"}"
      },
      "id": "respond-ignored-type",
      "name": "Respond: tipo ignorado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-1760, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "is-from-me",
              "leftValue": "={{ $json.from_me }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-from-me",
      "name": "É fromMe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1540, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "starts-with-slash",
              "leftValue": "={{ $json.msg_text }}",
              "rightValue": "/",
              "operator": { "type": "string", "operation": "startsWith" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-is-command",
      "name": "É comando /?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-1320, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"ignored\",\"reason\":\"from_me_no_command\"}"
      },
      "id": "respond-ignored-echo",
      "name": "Respond: eco do bot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-1100, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/get_or_create_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telefone\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"p_nome\": \"{{ $('EXTRAI CAMPOS').item.json.push_name }}\",\n  \"p_instancia_id\": \"{{ $('EXTRAI CAMPOS').item.json.instancia_uuid }}\",\n  \"p_canal_origem\": \"{{ $('EXTRAI CAMPOS').item.json.ctwa_source_id ? 'ADS' : 'BASE' }}\",\n  \"p_metadata\": {{ JSON.stringify({ctwa_source_id: $('EXTRAI CAMPOS').item.json.ctwa_source_id, ctwa_source_url: $('EXTRAI CAMPOS').item.json.ctwa_source_url}) }}\n}",
        "options": {}
      },
      "id": "get-create-contato-cmd",
      "name": "GET/CREATE Contato (cmd)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1100, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/executa_comando_dono",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $json.id }}\",\n  \"p_comando\": \"{{ $('EXTRAI CAMPOS').item.json.msg_text.split(' ')[0] }}\"\n}",
        "options": {}
      },
      "id": "exec-command",
      "name": "EXECUTA COMANDO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-880, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"command_executed\",\"result\":$json}"
      },
      "id": "respond-cmd-done",
      "name": "Respond: comando OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-660, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/get_or_create_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_telefone\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"p_nome\": \"{{ $('EXTRAI CAMPOS').item.json.push_name }}\",\n  \"p_instancia_id\": \"{{ $('EXTRAI CAMPOS').item.json.instancia_uuid }}\",\n  \"p_canal_origem\": \"{{ $('EXTRAI CAMPOS').item.json.ctwa_source_id ? 'ADS' : 'BASE' }}\",\n  \"p_metadata\": {{ JSON.stringify({ctwa_source_id: $('EXTRAI CAMPOS').item.json.ctwa_source_id, ctwa_source_url: $('EXTRAI CAMPOS').item.json.ctwa_source_url}) }}\n}",
        "options": {}
      },
      "id": "get-create-contato",
      "name": "GET/CREATE Contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1320, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/mensagens_buffer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contato_id\": \"{{ $('GET/CREATE Contato').item.json.id }}\",\n  \"telefone\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"mensagem\": \"{{ $('EXTRAI CAMPOS').item.json.msg_text.replace(/\\\"/g, '\\\\\\\"') }}\",\n  \"tipo\": \"{{ $('EXTRAI CAMPOS').item.json.message_type === 'audioMessage' ? 'audio' : 'text' }}\",\n  \"direcao\": \"in\",\n  \"instancia_id\": \"{{ $('EXTRAI CAMPOS').item.json.instancia_uuid }}\"\n}",
        "options": {}
      },
      "id": "insert-buffer-in",
      "name": "SAVE Buffer (in)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-1100, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "bot-active",
              "leftValue": "={{ $('GET/CREATE Contato').item.json.bot_pausado_ate }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "empty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-bot-active",
      "name": "Bot ativo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-880, 600]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"bot_paused\",\"buffered\":true}"
      },
      "id": "respond-bot-paused",
      "name": "Respond: bot pausado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-880, 800]
    },
    {
      "parameters": {
        "amount": 12,
        "unit": "seconds"
      },
      "id": "debounce-wait",
      "name": "WAIT 12s (debounce)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-660, 500],
      "webhookId": "router-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/rpc/process_batch_mensagens",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_contato_id\": \"{{ $('GET/CREATE Contato').item.json.id }}\",\n  \"p_minha_recebida_em\": \"{{ $('SAVE Buffer (in)').item.json[0].recebida_em }}\"\n}",
        "options": {}
      },
      "id": "process-batch",
      "name": "PROCESS BATCH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-440, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "should-process",
              "leftValue": "={{ $json.devo_processar }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-process",
      "name": "Devo processar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-220, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"superseded_by_newer_msg\"}"
      },
      "id": "respond-superseded",
      "name": "Respond: superseded",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-220, 700]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "resp",
              "name": "resposta_texto",
              "value": "=Olá {{ $('GET/CREATE Contato').item.json.nome.split(' ')[0] }}! Recebi sua mensagem. Em breve te respondo melhor 🌸\n\n_[Router operacional. AGENT_START + RAG em construção.]_",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "agent-stub",
      "name": "AGENT_START (stub)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [0, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('EXTRAI CAMPOS').item.json.evolution_base_url }}/message/sendText/{{ $('EXTRAI CAMPOS').item.json.instancia_nome }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ ({'Instancia1': 'REPLACE_INSTANCIA1_APIKEY', 'ADS': 'REPLACE_ADS_APIKEY'})[$('EXTRAI CAMPOS').item.json.instancia_nome] }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"text\": \"{{ $('AGENT_START (stub)').item.json.resposta_texto.replace(/\\n/g, '\\\\n').replace(/\\\"/g, '\\\\\\\"') }}\",\n  \"delay\": 1500\n}",
        "options": {
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "send-evolution",
      "name": "EVOLUTION SEND",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/mensagens_buffer",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contato_id\": \"{{ $('GET/CREATE Contato').item.json.id }}\",\n  \"telefone\": \"{{ $('EXTRAI CAMPOS').item.json.telefone_clean }}\",\n  \"mensagem\": \"{{ $('AGENT_START (stub)').item.json.resposta_texto.replace(/\\\"/g, '\\\\\\\"') }}\",\n  \"tipo\": \"text\",\n  \"direcao\": \"out\",\n  \"instancia_id\": \"{{ $('EXTRAI CAMPOS').item.json.instancia_uuid }}\",\n  \"processada_em\": \"{{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "save-buffer-out",
      "name": "SAVE Buffer (out)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://epreaawpvxrpqqthcczu.supabase.co/rest/v1/eventos_contato",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contato_id\": \"{{ $('GET/CREATE Contato').item.json.id }}\",\n  \"tipo\": \"router_turn\",\n  \"canal\": \"{{ $('EXTRAI CAMPOS').item.json.instancia_nome }}\",\n  \"instancia_id\": \"{{ $('EXTRAI CAMPOS').item.json.instancia_uuid }}\",\n  \"metadata\": {{ JSON.stringify({msg_in: $('PROCESS BATCH').item.json.mensagens_concat, msg_in_count: $('PROCESS BATCH').item.json.count_msgs, msg_out: $('AGENT_START (stub)').item.json.resposta_texto.substring(0, 200)}) }}\n}",
        "options": {}
      },
      "id": "log-event",
      "name": "LOG eventos_contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\":\"processed\",\"contato\":$('GET/CREATE Contato').item.json.id}"
      },
      "id": "respond-done",
      "name": "Respond: processed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [880, 500]
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [[{ "node": "EXTRAI CAMPOS", "type": "main", "index": 0 }]]
    },
    "EXTRAI CAMPOS": {
      "main": [[{ "node": "TIPO ACEITO?", "type": "main", "index": 0 }]]
    },
    "TIPO ACEITO?": {
      "main": [
        [{ "node": "É fromMe?", "type": "main", "index": 0 }],
        [{ "node": "Respond: tipo ignorado", "type": "main", "index": 0 }]
      ]
    },
    "É fromMe?": {
      "main": [
        [{ "node": "É comando /?", "type": "main", "index": 0 }],
        [{ "node": "GET/CREATE Contato", "type": "main", "index": 0 }]
      ]
    },
    "É comando /?": {
      "main": [
        [{ "node": "GET/CREATE Contato (cmd)", "type": "main", "index": 0 }],
        [{ "node": "Respond: eco do bot", "type": "main", "index": 0 }]
      ]
    },
    "GET/CREATE Contato (cmd)": {
      "main": [[{ "node": "EXECUTA COMANDO", "type": "main", "index": 0 }]]
    },
    "EXECUTA COMANDO": {
      "main": [[{ "node": "Respond: comando OK", "type": "main", "index": 0 }]]
    },
    "GET/CREATE Contato": {
      "main": [[{ "node": "SAVE Buffer (in)", "type": "main", "index": 0 }]]
    },
    "SAVE Buffer (in)": {
      "main": [[{ "node": "Bot ativo?", "type": "main", "index": 0 }]]
    },
    "Bot ativo?": {
      "main": [
        [{ "node": "WAIT 12s (debounce)", "type": "main", "index": 0 }],
        [{ "node": "Respond: bot pausado", "type": "main", "index": 0 }]
      ]
    },
    "WAIT 12s (debounce)": {
      "main": [[{ "node": "PROCESS BATCH", "type": "main", "index": 0 }]]
    },
    "PROCESS BATCH": {
      "main": [[{ "node": "Devo processar?", "type": "main", "index": 0 }]]
    },
    "Devo processar?": {
      "main": [
        [{ "node": "AGENT_START (stub)", "type": "main", "index": 0 }],
        [{ "node": "Respond: superseded", "type": "main", "index": 0 }]
      ]
    },
    "AGENT_START (stub)": {
      "main": [[{ "node": "EVOLUTION SEND", "type": "main", "index": 0 }]]
    },
    "EVOLUTION SEND": {
      "main": [[{ "node": "SAVE Buffer (out)", "type": "main", "index": 0 }]]
    },
    "SAVE Buffer (out)": {
      "main": [[{ "node": "LOG eventos_contato", "type": "main", "index": 0 }]]
    },
    "LOG eventos_contato": {
      "main": [[{ "node": "Respond: processed", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "instanceId": "santa-flor-crm" },
  "tags": []
}
